<% provide :title do %><%= @meeting.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: meeting_url(@meeting, participatory_process_id: @meeting.participatory_process),
            social_title: @meeting.title,
            social_media_image: asset_url('social-media-icon.png'),
            social_description: text_with_links(@meeting.description) %>
<% end %>
<section class="meeting-show">
  <div id="<%= dom_id(@meeting) %>" class="row">
    <div class="small-12 medium-9 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("meetings.show.back_link"), :back, class: 'left back' %>

      <div class="meeting-main-info">
        <div class="title-and-description">
          <h2><%= @meeting.title %></h2>

          <div class="description">
            <%= text_with_links @meeting.description %>
          </div>
        </div>

        <% if @meeting.held_at %>
          <div class="meeting-date-wrapper">
            <div class="meeting-date">
              <span class="date"> <%= l @meeting.held_at %></span>
              <span class="week-day"><%= (t 'date.day_names')[@meeting.held_at.wday] %></span>

              <span class="time">
                <%= meeting_time @meeting %>
              </span>
            </div>
          </div>
        <% end %>
      </div>


      <% if current_user and (current_user.moderator? or current_user.administrator?) %>
        <div class="right">
          <%= link_to t("meetings.index.edit"), edit_moderation_meeting_path(@meeting), class: 'button radius tiny secondary' %>
          <%= link_to t("meetings.index.pictures"), moderation_meeting_pictures_path(@meeting), class: 'button radius tiny secondary' %>
          <%= link_to t("meetings.index.close"), new_moderation_meeting_close_path(@meeting), class: 'button radius tiny secondary' %>
        </div>
      <% end %>

      <div class="location-info">
        <% if @meeting.district %>
          <div class="district">
            <%= District.find(@meeting.district).name %>
          </div>
        <% end %>

        <% if !@meeting.address_details.blank? %>
          <div class="address-details">
            <%= bcn_icon 'localitzacio' %>
            <%= @meeting.address_details %>
          </div>
        <% end %>

        <div class="address">
          <%= bcn_icon 'planol' %>
          <%= @meeting.address %>
        </div>
      </div>

      <% if !@meeting.closed? %>
        <%= static_map latitude: @meeting.address_latitude, longitude: @meeting.address_longitude, zoom: 16 %>
      <% end %>
      <%= render 'shared/tags', taggable: @meeting %>

      <%= render 'photos' %>
      <%= render 'close_report' %>
      <%= render 'proposals' %>
    </div>

    <aside class="small-12 medium-3 column sidebar">
      <h3><%= t("meetings.show.share") %></h3>
      <%= social_share_button_tag(@meeting.title) %>

      <%= render 'card' %>
    </aside>
  </div>
</section>
