<% provide :title do %><%= @meeting.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: meeting_url(@meeting),
            social_title: @meeting.title,
            social_media_image: asset_url('social-media-icon.png'),
            social_description: text_with_links(@meeting.description) %>
<% end %>
<section class="meeting-show">
  <div id="<%= dom_id(@meeting) %>" class="row">
    <div class="small-12 medium-9 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("meetings.show.back_link"), :back, class: 'left back' %>

      <h2><%= @meeting.title %></h2>

      <div class="date">
        <%= l @meeting.held_at %>
        <%= @meeting.held_at.strftime("%A") %>
        <% if @meeting.start_at.present? && @meeting.end_at.present? %>
          // 
          <%= l @meeting.start_at %>
          - 
          <%= l @meeting.end_at %>
        <% end %>
      </div>

      <div class="description">
        <%= text_with_links @meeting.description %>
      </div>

      <%= static_map latitude: @meeting.address_latitude, longitude: @meeting.address_longitude, zoom: 16 %>

      <%= render 'shared/tags', taggable: @meeting %>
    </div>

    <aside class="small-12 medium-3 column">
      <% unless @meeting.proposals.empty? %>
        <div class="sidebar-divider"></div>
        <h3><%= t("meetings.show.proposals_title") %></h3>
        <ul>
          <% @meeting.proposals.sample(3).each do |proposal| %>
            <li><%= link_to proposal.title, proposal %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="sidebar-divider"></div>
      <h3><%= t("meetings.show.share") %></h3>
      <%= social_share_button_tag(@meeting.title) %>
    </aside>
  </div>
</section>
