<% provide :title do %><%= @meeting.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: meeting_url(@meeting),
            social_title: @meeting.title,
            social_media_image: asset_url('social-media-icon.png'),
            social_description: text_with_links(@meeting.description) %>
<% end %>
<section class="meeting-show">
  <div id="<%= dom_id(@meeting) %>" class="row">
    <div class="small-12 medium-9 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("meetings.show.back_link"), :back, class: 'left back' %>

      <h2><%= @meeting.title %></h2>

      <div class="description">
        <%= text_with_links @meeting.description %>
      </div>

      <div class="address">
        <%= bcn_icon 'localitzacio' %>
        <%= @meeting.address %>
      </div>
      <div class="meeting-map">
        <%= static_map latitude: @meeting.address_latitude, longitude: @meeting.address_longitude, zoom: 16 %>
      </div>

      <%= render 'shared/tags', taggable: @meeting %>
    </div>

    <aside class="small-12 medium-3 column sidebar">
      <% if @meeting.held_at %>
        <div class="meeting-date">
          <span class="date"> <%= l @meeting.held_at %></span>
          <span class="week-day"><%= (t 'date.day_names')[@meeting.held_at.wday] %></span>

          <span class="time">
            <%= meeting_time @meeting %>
          </span>
        </div>
      <% end %>

      <% unless @meeting.proposals.empty? %>
        <div class="proposals">
          <h3><%= t("meetings.show.proposals_title") %></h3>
          <ul>
            <% @meeting.meeting_proposals.each do |meeting_proposal| %>
              <li>
                <%= link_to meeting_proposal.proposal.title, meeting_proposal.proposal %>
                <% if meeting_proposal.meeting.closed? %>
                  <span class="support"><%= t("proposals.show.meeting_supports", counter: meeting_proposal.votes) %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h3><%= t("meetings.show.share") %></h3>
      <%= social_share_button_tag(@meeting.title) %>
    </aside>
  </div>
</section>
