<h2><%= t("admin.steps.index.title") %></h2>
<h3><%= page_entries_info @steps %></h3>
<ul id="steps" class="admin-list">
  <% @steps.each do |step| %>
    <li class="<%= 'hidden' if step.hidden? %>">
      <span><%= step.title %></span>
      <div class="right">
        <% if step.hidden? %>
          <%= link_to t('admin.steps.index.restore'), restore_admin_participatory_process_step_path(@participatory_process, step), method: :put, class: "button tiny radius" %>
        <% else %>
          <%= link_to t('admin.steps.index.edit'), edit_admin_participatory_process_step_path(@participatory_process, step), class: "button tiny radius" %>
          <%= link_to t('admin.steps.index.delete'), admin_participatory_process_step_path(@participatory_process, step), method: :delete,  class: "button tiny radius alert", data: { confirm: t('admin.actions.confirm') } %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @steps %>

<div class="right">
  <%= link_to t('admin.steps.index.new'), new_admin_participatory_process_step_path(@participatory_process), class: "button radius alert right" %>
</div>
