<h3><%= t '.title' %></h3>

<h4><%= t '.question-1.title' %></h4>
<p><%= t '.question-1.answer' %></p>

<h4><%= t '.question-2.title' %></h4>
<p><%= t '.question-2.answer' %></p>

<h4><%= t '.question-3.title' %></h4>
<p><%= t '.question-3.answer' %></p>

<h4><%= t '.question-4.title' %></h4>
<p><%= t '.question-4.answer' %></p>

<h4><%= t '.question-5.title' %></h4>
<p><%= t '.question-5.answer' %></p>

<h4><%= t '.question-6.title' %></h4>
<p><%= t '.question-6.answer' %></p>
<ul>
  <li><%= t '.question-6.answer-list-1' %></li>
  <li><%= t '.question-6.answer-list-2' %></li>
  <li><%= t '.question-6.answer-list-3' %></li>
  <li><%= t '.question-6.answer-list-4' %></li>
</ul>

<h4><%= t '.question-7.title' %></h4>
<p><%= t '.question-7.answer' %></p>

<h4><%= t '.question-8.title' %></h4>
<p><%= t '.question-8.answer' %></p>
<ol>
  <li>
    <%= t '.question-8.answer-1' %>
    <ul>
      <li><%= t '.question-8.answer-1-1' %></li>
      <li><%= t '.question-8.answer-1-2' %></li>
    </ul>
  </li>
  <li>
    <%= t '.question-8.answer-2' %>
    <ul>
      <li><%= t '.question-8.answer-1-1' %></li>
    </ul>
  </li>
</ol>
<p><%= t '.question-8.answer-part-2' %></p>

<h4><%= t '.question-9.title' %></h4>
<p><%= t '.question-9.answer' %></p>

<h4><%= t '.question-10.title' %></h4>
<p><%= t '.question-10.answer' %></p>
<p><%= t '.question-10.answer-2' %></p>

<h4><%= t '.question-11.title' %></h4>
<p><%= t '.question-11.answer' %></p>

<h4><%= t '.question-12.title' %></h4>
<p><%= t '.question-12.answer' %></p>

<h4><%= t '.question-13.title' %></h4>
<p><%= t '.question-13.answer' %></p>

<h4><%= t '.question-14.title' %></h4>
<p><%= t '.question-14.answer' %></p>
