<h3><%= t '.title' %></h3>
<p><%= t '.paragraph-1' %></p>
<p><%= t '.paragraph-2' %></p>
<p><%= t '.paragraph-3' %></p>
<p><%= t '.paragraph-4' %></p>
<p><%= t '.paragraph-5' %></p>

<p class="links">
  <%= link_to t('.links-1.link-1'), "#" %>
  <%= link_to t('.links-1.link-2'), "#" %>
</p>
