<h3><%== t '.title' %></h3>

<h4><%== t '.part-1.title' %></h4>
<p><%== t '.part-1.paragraph-1' %></p>
<p><%== t '.part-1.paragraph-2' %></p>

<h4><%== t '.part-2.title' %></h4>
<p><%== t '.part-2.paragraph-1' %></p>
<p><%== t '.part-2.paragraph-2' %></p>
