<h3><%= t '.title' %></h3>

<h4><%= t '.part-1.title' %></h4>
<ul>
  <li><%= t '.part-1.item-1' %></li>
  <li><%= t '.part-1.item-2' %></li>
  <li><%= t '.part-1.item-3' %></li>
</ul>

<h4><%= t '.part-2.title' %></h4>
<ul>
  <li><%= t '.part-2.item-1' %></li>
  <li><%= t '.part-2.item-2' %></li>
  <li><%= t '.part-2.item-3' %></li>
  <li><%= t '.part-2.item-4' %></li>
  <li><%= t '.part-2.item-5' %></li>
</ul>

<h4><%= t '.part-3.title' %></h4>
<ul>
  <li><%= t '.part-3.item-1' %></li>
  <li><%= t '.part-3.item-2' %></li>
  <li><%= t '.part-3.item-3' %></li>
  <li><%= t '.part-3.item-4' %></li>
</ul>
