<h3><%== t '.title' %></h3>
<p><%== t '.paragraph-1' %></p>

<ol>
  <li><%== t '.list-1.item-1' %></li>
  <li><%== t '.list-1.item-2' %></li>
  <li><%== t '.list-1.item-3' %></li>
</ol>

<p><%== t '.paragraph-2' %></p>
