<h3><%== t '.title' %></h3>
<p><%== t '.paragraph-1' %></p>
<p><%== t '.paragraph-2' %></p>
<p><%== t '.paragraph-3' %></p>
<ul class="links">
  <li>
    <%== t '.list-1.item-1' %>
    <%= link_to t('.list-1.item-1-link'), meetings_path %>
  </li>
  <li>
    <%== t '.list-1.item-2' %>
    <%= link_to t('.list-1.item-2-link'), proposals_path %>
  </li>
</ul>
<p><%== t '.paragraph-4' %></p>
