<h3><%== t '.title' %></h3>
<p><%== t '.paragraph-1' %></p>
<p><%== t '.paragraph-2' %></p>
<p><%== t '.paragraph-3' %></p>
<p><%== t '.paragraph-4' %></p>
<p><%== t '.paragraph-5' %></p>

<%== render partial: 'shared/categories', locals: { categories: categories } %>

<ul class="links">
  <li><%== link_to t('.links-1.link-1'), categories_path %></li>
  <li><%== link_to t('.links-1.link-2'), page_path('download') %></li>
</ul>
