<div class="weekly-summary">
  <div class="title">
    <h2><%= t '.title' %></h2>
    <h3 class="date"><%= l @from.to_date %> - <%= l @to.to_date %></h3>
  </div>

  <p><%= t '.greeting', name: @user.name %></p>
  <%== t '.introduction' %>

  <% if @summary.own_active.any? %>
    <h3><%= t '.own_active' %></h3>
    <%= render partial: 'proposals', locals: { proposals: @summary.own_active, summary: @summary } %>
  <% end %>

  <% if @summary.recent_comments_on_own_proposals.any? %>
    <h3><%= t '.recent_comments_on_own_proposals' %></h3>

    <% @summary.recent_comments_on_own_proposals.group_by { |c| c.commentable }.each do |proposal, comments|  %>
      <h4><%= link_to(proposal.title, proposal_url(proposal, participatory_process_id: proposal.participatory_process)) %></h4>
      <%= render partial: 'comments', locals: { comments: comments }%>
    <% end %>
  <% end %>

  <% if @summary.recent_comments_on_voted_proposals.any? %>
    <h3><%= t '.recent_comments_on_voted_proposals' %></h3>

    <% @summary.recent_comments_on_voted_proposals.group_by { |c| c.commentable }.each do |proposal, comments|  %>
      <h4><%= link_to(proposal.title, proposal_url(proposal, participatory_process_id: proposal.participatory_process)) %></h4>
      <%= render partial: 'comments', locals: { comments: comments }%>
    <% end %>
  <% end %>

  <% if @official_random_proposals.any? %>
    <h3><%= t '.official_random_proposals' %></h3>
    <ul>
      <% @official_random_proposals.each do |proposal|  %>
        <li>
          <%= link_to(proposal.title, proposal_url(proposal, participatory_process_id: proposal.participatory_process)) %>
          <br />
          <%= render partial: 'proposal_info', locals: { proposal: proposal } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @random_proposals.any? %>
    <h3><%= t '.random_proposals' %></h3>
    <ul>
      <% @random_proposals.each do |proposal|  %>
        <li>
          <%= link_to(proposal.title, proposal_url(proposal, participatory_process_id: proposal.participatory_process)) %>
          <br />
          <%= render partial: 'proposal_info', locals: { proposal: proposal } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @summary.most_active.any? %>
    <h3><%= t '.most_active' %></h3>
    <%= render partial: 'proposals', locals: { proposals: @summary.most_active, summary: @summary } %>
  <% end %>

  <% if @upcoming_meetings.any? %>
    <h3><%= t '.upcoming_meetings' %></h3>
    <ul>
      <% @upcoming_meetings.each do |meeting|  %>
        <li>
          <%= link_to(meeting.title, meeting_url(meeting, participatory_process_id: meeting.participatory_process)) %>
          <% if meeting.held_at %>
            <br />
            <%=l meeting.held_at %><% if meeting.start_at %> - <%= l(meeting.start_at) %><% end %><br />(<%= meeting.address %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if Debate.upcoming.any? %>
    <h3><%= t '.upcoming_debates' %></h3>

    <%== t '.ending' %>

    <ul>
      <% Debate.upcoming.each do |debate|  %>
        <li>
          <%= link_to(debate.title, debate_url(debate, participatory_process_id: debate.participatory_process)) %>
           (<%= l(debate.starts_at, format: :datetime) %>)
        </li>
      <% end %>
    </ul>
  <% end %>

  <p class="call-to-action">
    <%= link_to t('.participate'), root_url, class: 'participate' %>
  </p>
</div>
