<h4><%= index %>. <%= action_plan.title %></h4>
<div class="item-content">
  <%= action_plan.description.html_safe %>

  <div class="item-meta">
    <p>
      <strong>Enllaç:</strong>
      <%= link_to action_plan_url(action_plan, participatory_process_id: action_plan.participatory_process, host: "decidim.barcelona"), action_plan_url(action_plan, participatory_process_id: action_plan.participatory_process, host: "decidim.barcelona") %>
    </p>

    <p>
      <strong>Autoria: </strong><%= action_plan.authors %>
    </p>

    <p>
      <strong>Propostes que agrupa: </strong><%= action_plan.proposals.count %>
    </p>

    <p>
      <strong>Suports totals: </strong><%= action_plan.total_votes %>
    </p>

    <p>
      <strong>Cites presencials en què s'ha debatut aquesta actuació: </strong> <%= action_plan.meetings.count %>
    </p>


    <p>
      <strong>Nombre de participants a les cites:</strong>
      <%= action_plan.meetings.to_a.map(&:attendee_count).compact.sum %>
    </p>

      <p>
        <strong>Organitzacions participants a les cites:</strong>
        <% if !action_plan.meeting_participants.blank? %>
          <%= action_plan.meeting_participants.length %>
        <% else %>
          Cap
        <% end %>
      </p>
  </div>
</div>
