<div class="meeting-new row">
  <div class="small-12 medium-9 column">
    <%= form_for(@meeting, url: moderation_meeting_close_url(@meeting), method: :post) do |f| %>
      <%= render 'shared/errors', resource: @meeting %>

      <div class="row">
        <div class="small-12 column">
          <%= f.text_field :attendee_count %>
          <%= f.text_field :interventions %>

          <%= f.text_area :organizations, placeholder: t('meetings.close.form.organizations_placeholder') %>

          <%= f.label :close_report, t("meetings.close.form.close_report") %>
          <%= f.cktext_area :close_report, ckeditor: { language: I18n.locale }, label: false %>

          <table>
            <thead>
              <tr>
                <th><%= t("meetings.close.form.proposals.title") %></th>
                <th><%= t("meetings.close.form.proposals.consensus") %></th>
              </tr>
            </thead>
            <tbody>
              <%= f.fields_for :meeting_proposals do |ff| %>
                <tr>
                  <td><%= ff.object.title %></td>
                  <td><%= ff.check_box :consensus, label: false %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="actions">
            <%= f.submit(class: "button radius", value: t("meetings.close.#{action_name}.form.submit_button")) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
