<div class="section-proposals home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="proposal-carousel-section">
        <h3><%= I18n.t('welcome.carousel.featured.title') %></h3>
        <%= react_component 'ProposalsCarousel', items: featured_proposals %>
      </div>
      <div class="proposal-carousel-section">
        <h3><%= I18n.t('welcome.carousel.citizenship.title') %></h3>
        <%= react_component 'ProposalsCarousel', items: citizenship_proposals %>
      </div>
      <div class="proposal-carousel-section">
        <h3><%= I18n.t('welcome.carousel.meetings.title') %></h3>
        <%= react_component 'MeetingsCarousel', items: closed_meetings %>
      </div>
    </div>
  </div>
</div>
