<div class="section-download home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="home-title">
        <h3><%= t 'welcome.download.title' %></h3>
        <h4><%= t 'welcome.download.subtitle' %></h4>
      </div>
      <div class="download-buttons">
        <%= link_to action_plans_path(participatory_process_id: @participatory_process.slug), class: 'download-pam' do %><span><%= t('welcome.download.links.pam') %></span><% end %>
        <%= link_to page_path(id: 'download', participatory_process_id: @participatory_process), class: 'download-epub' do %><span><%= t('welcome.download.links.epub') %></span><% end %>
      </div>
    </div>
  </div>
</div>
