<div class="section-download home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="home-title">
        <h3><%= t 'welcome.download.title' %></h3>
        <h4><%= t 'welcome.download.subtitle' %></h4>
      </div>
      <div class="download-buttons">
        <%= link_to '#', class: 'download-pam' do %><span><%= t('welcome.download.links.pam') %></span><% end %>
        <%= link_to '#', class: 'download-epub' do %><span><%= t('welcome.download.links.epub') %></span><% end %>
      </div>
    </div>
  </div>
</div>
