<div class="row">
  <section class="section-home-header">
    <div class="home-title">
      <h3><%= t ".title" %></h2>
      <h4><%= t ".subtitle" %></h3>
    </div>
    <div class="header-grid">
      <div class="explanation small-12 large-6 columns">
        <%= link_to '#', class: "cell about" do %><span><%= t ".links.about" %> <%= bcn_icon "dit_assenyala" %></span><% end %>
      </div>
      <div class="sections small-12 large-6 columns">
        <%= link_to '#', class: "cell proposals" do %><span><%= t ".links.proposals" %> <%= bcn_icon "dit_assenyala" %></span><% end %>
        <%= link_to '#', class: "cell meetings" do %><span><%= t ".links.meetings" %> <%= bcn_icon "dit_assenyala" %></span><% end %>
        <%= link_to '#', class: "cell network" do %><span><%= t ".links.network" %> <%= bcn_icon "dit_assenyala" %></span><% end %>
      </div>
    </div>
  </section>
</div>
