<div class="column">
  <article class="card card--process card--mini">
    <%= link_to participatory_process_path(participatory_process), class: "card__link" do %>
      <div class="card__image-top"
           style="background-image:url(<%= participatory_process.decorate.full_image_url %>)"></div>
    <% end %>
    <div class="card__content">
      <%= link_to participatory_process_path(participatory_process), class: "card__link" do %>
        <h4 class="card__title"><%= participatory_process.decorate.title %></h4>
      <% end %>
    </div>
    <% if participatory_process.active_step %>
      <div class="card__footer">
        <div class="card__support">
          <span class="card--process__small"><%= t "welcome.index.participatory_process.active_step" %>:
            <strong><%= participatory_process.active_step.decorate.title %></strong>
          </span>
          <%= link_to t('participatory_processes.index.join'), step_path(participatory_process, participatory_process.active_step), class: "card__button button small" %>
        </div>
      </div>
    <% end %>
  </article>
</div>

