<section class="home-tutorial small-12 large-8 large-centered columns">
  <div class="tutorial-title">
    <h3><%= t 'welcome.tutorial.title' %></h3>
    <h4><%= t 'welcome.tutorial.subtitle' %></h4>
  </div>

  <div class="tutorial-step tutorial-step-1 tutorial-step-left">
    <span class="icons"><%= bcn_icon "imac" %><%= bcn_icon "xat_blanc" %><%= bcn_icon "cor" %></span>
    <div class="step-content">
      <span class="number">1</span>
      <span class="description"><%= t 'welcome.tutorial.step-1.description' %></span>
      <span class="line-overlay"></span>
    </div>
  </div>

  <div class="tutorial-step tutorial-step-2 tutorial-step-right">
    <span class="icons"><%= bcn_icon "doc" %><%= bcn_icon "xat_blanc" %><%= bcn_icon "ma_perfecte" %></span>
    <div class="step-content">
      <span class="number">2</span>
      <span class="description"><%= t 'welcome.tutorial.step-2.description' %></span>
      <span class="line-overlay"></span>
    </div>
  </div>

  <div class="tutorial-step tutorial-step-2 tutorial-step-left">
    <span class="icons"><%= bcn_icon "nuvol" %><%= bcn_icon "doc_llapis" %><%= bcn_icon "safata" %></span>
    <div class="step-content">
      <span class="number">3</span>
      <span class="description"><%= t 'welcome.tutorial.step-2.description' %></span>
      <span class="line-overlay"></span>
    </div>
  </div>

  <div class="tutorial-step tutorial-step-2 tutorial-step-right">
    <span class="icons"><%= bcn_icon "lupa" %><%= bcn_icon "planol" %><%= bcn_icon "localitzacio" %></span>
    <div class="step-content">
      <span class="number">4</span>
      <span class="description"><%= t 'welcome.tutorial.step-4.description' %></span>
      <span class="line-overlay"></span>
    </div>
  </div>
</section>
