<% content_for(:header) do %>
  <div class="header wide parallax-window" data-parallax="scroll" data-image-src="<%= asset_url("header/#{(1..12).to_a.sample}.jpg") %>" data-speed="0.4" data-natural-height="435" data-natural-width="1900">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h1 class="title-expanded">
          <%= link_to root_url do %>
            <span class="pla-barcelona">Pla Municipal</span>
            <span class="decidim-barcelona">
              <%= Setting["org_name"] %>
            </span>
          <% end %>
        </h1>
        <div class="header-motto">
          <%= link_to proposals_path, class: 'header-link' do %>
            <%= t 'welcome.header-motto.link' %>
            <%= bcn_icon('dit_assenyala_vermell') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="home-section">
  <%= render 'description' %>
  <%= render 'tutorial' %>
  <%= render 'download' %>
  <%= render 'meetings' %>
  <%= render 'categories' %>
</div>
