<% content_for(:header) do %>
  <div class="header wide parallax-window" data-parallax="scroll" data-image-src="<%= asset_url("header/#{(1..3).to_a.sample}.jpg") %>" data-speed="0.4" data-natural-height="435" data-natural-width="1900">
    <div class="row">
      <div class="small-12 large-12 columns header-expanded">
        <h1 class="title-expanded">
          <%= link_to root_url do %>
            <span class="pla-barcelona">Pla Municipal</span>
            <span class="decidim-barcelona">
              <%= Setting["org_name"] %>
            </span>
          <% end %>
        </h1>
        <div class="header-motto">
          <div class="statistics">
            <ul>
              <li><%== t ".statistics.proposals", count: number_with_delimiter(statistics.proposals) %></li>
              <li><%== t ".statistics.supports", count: number_with_delimiter(statistics.supports) %></li>
              <li><%== t ".statistics.included_proposals", count: number_with_delimiter(statistics.included_proposals) %></li>
              <li><%== t ".statistics.action_plans", count: number_with_delimiter(statistics.action_plans) %></li>
            </ul>
          </div>
          <%= link_to action_plans_path, class: 'header-link' do %>
            <%= t 'welcome.header-motto.link' %>
            <%= bcn_icon('dit_assenyala_vermell') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:social_media_meta_tags) do %>
  <%= render 'shared/social_media_meta_tags',
              social_title: Setting['org_name'],
              social_description: "Descobriu, debateu, proposeu les actuacions per a la ciutat de Barcelona dels propers 4 anys",
              social_url: url_for(),
              social_media_image: asset_url("social_media_cover.jpg") %>
<% end %>

<div class="home-section">
  <%= render 'header_results' %>
  <%= render 'header' %>
  <%= render 'calendar' %>
  <%= render 'videos' %>
  <%= render 'download' %>
  <%= render 'categories' %>
</div>
