<main>
  <section class="extended hero"
           style="background-image:url(<%= image_url("hero-home.jpg") %>);">
    <div class="hero__container">
      <div class="row">
        <div class="columns small-centered large-10">
          <h1 class="text-highlight heading1 hero-heading">
            <%= t ".hero.line-1" %> <br><%= t ".hero.line-2" %>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-6 medium-4 mediumlarge-3">
          <%= link_to t(".hero.button"), participatory_processes_path, class: "hero-cta button expanded large button--sc" %>
        </div>
      </div>
    </div>
  </section>
  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading3">
          <%= t ".subhero-1.line-1" %><br>
          <%= t ".subhero-1.line-2" %>
        </h2>
        <%= link_to new_user_registration_path, class: "button--sc link subhero-cta" do %>
          <%= t ".subhero-1.button" %>
          <%= icon "chevron-right", aria_hidden: true %>
        <% end %>
      </div>
    </div>
  </section>
  <section class="wrapper-home">
    <div class="row">
      <h3 class="section-heading"><%= t ".participatory_process.title" %></h3>
      <div class="row collapse">
        <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3
                    large-up-4 card-grid">
          <% @participatory_processes.each do |participatory_process| %>
            <%= render partial: "participatory_process", locals: { participatory_process: participatory_process } %> 
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-12
                  smallmedium-8 medium-6 large-4">
        <%= link_to t(".participatory_process.button"), 
                participatory_processes_path, 
                class: "button expanded hollow button--sc home-section__cta" %>
      </div>
    </div>
  </section>
  <section class="extended">
    <div class="wrapper-home home-section">
      <div class="row column text-center">
        <h3 class="heading2"><%= t ".bullets.title" %></h3>
      </div>
      <div class="row small-up-1 medium-up-3 home-bullets">
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "meetings" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6"><%= t ".bullets.block-1.title" %></h4>
              <p><%= t ".bullets.block-1.description" %></p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "debates" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6"><%= t ".bullets.block-2.title" %></h4>
              <p><%= t ".bullets.block-2.description" %></p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "proposals" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6"><%= t ".bullets.block-3.title" %></h4>
              <p><%= t ".bullets.block-3.description" %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-10
                    smallmedium-8 medium-6 large-4">
          <%= link_to t(".bullets.button"), participatory_processes_path, class: "button expanded hollow button--sc" %>
        </div>
      </div>
    </div>
  </section>
  <section class="extended">
    <div class="wrapper-home">
      <div class="row column text-center">
        <h3 class="heading2"><%= t ".results.title" %></h3>
      </div>
      <div class="row">
        <div class="columns small-centered mediumlarge-10 large-8">
          <div class="home-pam">
            <div class="home-pam__highlight">
              <div class="home-pam__data">
                <h4 class="home-pam__title"><%= t ".results.title-1" %></h4>
                <span class="home-pam__number">8.142</span>
              </div>
              <div class="home-pam__data">
                <h4 class="home-pam__title"><%= t ".results.title-2" %></h4>
                <span class="home-pam__number">1.467</span>
              </div>
            </div>
            <div class="home-pam__lowlight">
              <div class="home-pam__data">
                <h4 class="home-pam__title"><%= t ".results.title-3" %></h4>
                <span class="home-pam__number">10.860</span>
              </div>
              <div class="home-pam__data">
                <h4 class="home-pam__title"><%= t ".results.title-4" %></h4>
                <span class="home-pam__number">165.121</span>
              </div>
              <div class="home-pam__data">
                <h4 class="home-pam__title"><%= t ".results.title-5" %></h4>
                <span class="home-pam__number">410</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-12
                    smallmedium-8 medium-6 large-4">
          <%= link_to t(".results.button-1"), 
                  action_plans_path(@pam_process, step_id: @pam_process.active_step),
                  class: "button expanded hollow button--sc" %>
        </div>
      </div>
      <div class="row text-center">
        <div class="columns small-centered large-3">
          <%= link_to t(".results.button-2"), 
                  @pam_process_plan_attachment.try(:file_url),
                  class: "button--sc link subhero-cta subhero-cta--secondary" %>
        </div>
      </div>
    </div>
  </section>
  <% if false %>
    <section class="home-map">
      <div class="wrapper-home wrapper-home--mini home-section">
        <div class="row column">
          <h3 class="section-heading"><%= t ".meetings.title" %></h3>
        </div>
      </div>
      <div id="google-map" class="google-map">
      </div>
    </section>
  <% end %>
  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h4 class="heading2"><%= t ".subhero-2.line-1" %></h4>
        <h5 class="heading4"><%= t ".subhero-2.line-2" %></h5>
        <%= link_to new_user_registration_path, class: "button--sc link subhero-cta" do %>
          <%= t ".subhero-2.button" %>
          <%= icon "chevron-right", aria_hidden: true %>
        <% end %>
      </div>
    </div>
  </section>
</main>
