<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center">
      <h1 class="heading1 page-title"><%= t ".title" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-7 large-5 medium-centered">
      <div class="card">
        <div class="card__content">
          <p><%= t ".abilities.text" %></p>
          <ul class="list-check">
            <li class="list-check__ok">
              <%= icon "check", class: "list-check__icon" %>
              <%= t ".abilities.debates" %>
            </li>
            <li class="list-check__ok">
              <%= icon "check", class: "list-check__icon" %>
              <%= t ".abilities.proposals" %>
            </li>
            <li class="list-check__ko">
              <%= icon "x", class: "list-check__icon" %>
              <%= t ".abilities.give_support" %>
            </li>
          </ul>
          <p>
            <strong>* <%= t ".only_verified" %>
            </strong>
          </p>
          <%= link_to t("welcome.welcome.user_permission_verify_url"), verification_path , class: "button expanded" %>

          <p class="text-center">
            <%= t("welcome.welcome.skip_verification") %>
            <%= link_to t("welcome.welcome.see_proposals"), participatory_processes_path %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
