<% cache [locale_and_user_status, debate, @debate_votes[debate.id]] do %>
  <div id="<%= dom_id(debate) %>" class="debate column">
    <article class="card card--debate">
      <div class="card__content">
        <div class="card__header">
          <%= link_to url_for(id: debate, action: :show), class: "card__link" do %>
            <h5 class="card__title"><%= debate.title %></h5>
          <% end %>
          <div class="card__author author-data author-data--small">
            <div class="author-data__main">
              <div class="author author--inline">
                <a href="#" class="author__name">
                  <%= debate.author.name %>
                  <% if debate.author.official? %>
                    <span class="label label--small label--basic"><%= official_position(debate.author) %></span>
                  <% end %>
                </a>
                <%= l debate.created_at.to_date %>
              </div>
            </div>
          </div>
        </div>
        <div class="card__datetime">
          <div class="card__datetime__date">
            <%= l debate.starts_at.to_date %>
          </div>
          <div class="card__datetime__time">
            <%= l debate.starts_at %> - <%= l debate.ends_at %>
          </div>
        </div>
        <p><%== truncate strip_tags(debate.description), length: 300 %></p>
        <%= render "shared/tags", taggable: debate, limit: 5 %>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="card__support__data"></div>
          <%= link_to t('.read_more'), url_for(id: debate, action: :show), class: 'button small secondary card__button' %>
        </div>
      </div>
    </article>
  </div>
<% end %>