<% cache [locale_and_user_status, debate, @debate_votes[debate.id]] do %>
  <div id="<%= dom_id(debate) %>" class="debate clear">
    <div class="panel">
      <div class="row">

        <div class="small-12 medium-9 column">
          <div class="debate-content">
            <h3><%= link_to debate.title, debate_path(id: debate, participatory_process_id: debate.participatory_process.slug) %></h3>
            <p class="debate-info">
              <i class="icon-comments"></i>&nbsp;
              <%= link_to t("debates.debate.comments", count: debate.comments_count), debate_path(id: debate, participatory_process_id: debate.participatory_process.slug, anchor: "comments") %>
              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <%= l debate.created_at.to_date %>

              <% if !debate.author || debate.author.hidden? || debate.author.erased? %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%= t("debates.show.author_deleted") %>
                </span>
              <% else %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%= debate.author.name %>
                </span>
                <% if debate.author.official? %>
                  <span class="bullet">&nbsp;&bull;&nbsp;</span>
                  <span class="label round level-<%= debate.author.official_level %>">
                    <%= official_position(debate.author) %>
                  </span>
                <% end %>
              <% end %>

              <% if debate.author.verified_organization? %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="label round is-association">
                  <%= t("shared.collective") %>
                </span>
              <% end %>

            </p>
            <div class="debate-description">
              <%== truncate strip_tags(debate.description), length: 900 %>
            </div>
            <%= render "shared/tags", taggable: debate, limit: 5 %>
            <div class="actions">
              <%= link_to t('.read_more'), debate_path(id: debate, participatory_process_id: debate.participatory_process.slug), class: 'button small' %>
            </div>
          </div>
        </div>

        <div id="<%= dom_id(debate) %>_votes" class="small-12 medium-3 column text-center">
          <%= debate_info_box(debate) %>
          <%= render partial: 'debates/picture', locals: { debate: debate } %>
          <% if Setting['feature.debates.vote'] %>
            <%= render 'debates/votes', debate: debate %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
