<% provide :title do %><%= @debate.title %><% end %>

<% cache [locale_and_user_status(@debate), @debate, @debate.author, Flag.flagged?(current_user, @debate), @debate_votes] do %>
  <section class="debate-show">
    <div id="<%= dom_id(@debate) %>" class="row column">
      <% if current_user && can?(:update, @debate) %>
        <%= link_to url_for(action: 'edit', id: @debate), class: 'edit-debate button success tiny radius right' do %>
          <%= t("debates.show.edit_debate_link") %>
        <% end %>
      <% end %>
      
      <div class="row column view-header">
        <h2 class="heading2"><%= @debate.title %></h2>
        <% if !@debate.author || @debate.author.hidden? || @debate.author.erased? %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <span class="author">
            <%= t("debates.show.author_deleted") %>
          </span>
        <% else %>
          <div class="author-data">
            <div class="author-data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar">
                  <%= avatar_image(@debate.author, seed: @debate.author_id, size: 32, class: 'author-photo') %>
                </a>
                <%= l @debate.created_at.to_date %>
                <a href="#" class="author__name">
                  <%= @debate.author.name %>
                  <% if @debate.author.official? %>
                    <span class="label label--small label--basic"><%= official_position(@debate.author) %></span>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="author-data__extra">
              <a href="#comments" title="Comentarios">
                <%= icon "comment-square", class: "icon--small" %>
                <%= @debate.comments_count %>
              </a>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="columns section view-side mediumlarge-4 mediumlarge-push-8
          large-3 large-push-9">
          <div class="card extra">
            <div class="card__content">
              <div class="extra__time">
                <%= l @debate.starts_at.to_date %>
              </div>
              <div class="extra__time">
                <%= l @debate.starts_at %> - <%= l @debate.ends_at %>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="link text-center">
              <%= t('.share') %>
              <%= icon "share", class: "icon--after" %>
            </button>
          </div>
        </div>
        <div class="columns mediumlarge-8 mediumlarge-pull-4">
          <div class="section">
            <%== safe_html_with_links @debate.description %>
            <% if !@debate.instructions.blank? %>
              <br />
              <br />
              <div class="callout success debate-instructions">
                <%== safe_html_with_links @debate.instructions %>
              </div>
            <% end %>
            <br />
            <%= render 'shared/tags', taggable: @debate %>
          </div>
        </div>
      </div>
      <div class="js-moderator-debate-actions margin">
        <%= render 'actions', debate: @debate %>
      </div>
    </div>
  </section>
<% end %>

<div class="debate-show-component" style="position: relative;">
  <%= react_app 'Debate', debateId: @debate.id %>
</div>
