<% provide :title do %>Aspectos legales y condiciones de uso de la plataforma de participación del Ayuntamiento de Barcelona, decidim.barcelona<% end %>

<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
    <div class="menu-outer small-12 medium-3 column">
      <div class="menu">
        <ul class="clear">
          <li><%= link_to "A. Ámbito de aplicación de estas condiciones de uso", "#section_1" %></li>
          <li><%= link_to "B. Objetivo de la iniciativa", "#section_2" %></li>
          <li><%= link_to "C. Aspectos generales de la participación en la plataforma decidim.barcelona", "#section_3" %></li>
          <li><%= link_to "D. Funcionamiento de la plataforma", "#section_4" %></li>
          <li><%= link_to "E. Seguridad y protección de los datos personales", "#section_5" %></li>
          <li><%= link_to "F. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios", "#section_6" %></li>
          <li><%= link_to "G. Derechos de autor y otros derechos sobre el sitio web y sus contenidos", "#section_7" %></li>
        </ul>
      </div>
    </div>

    <div class="text small-12 medium-9 column">
      <h2>Aspectos legales y condiciones de uso de la plataforma de participación del Ayuntamiento de Barcelona, decidim.barcelona</h2>
      <p>Este aviso legal informa de manera concisa de los aspectos principales de la plataforma de participación digital decidim.barcelona, impulsada por el Ayuntamiento de Barcelona. La plataforma tiene por objetivo promover la participación ciudadana y la democracia directa, deliberativa y participativa en la ciudad a través de los diferentes procesos, espacios y órganos de participación, generando formas de interacción directa y abierta entre el Ayuntamiento, la ciudadanía, y los diferentes agentes sociales de la ciudad. Decidim.barcelona está orientada a promover la deliberación y el debate ciudadano, la transparencia y la trazabilidad de la participación, y la generación de espacios de participación presenciales y digitales.</p>
      <p>El ciudadano que accede a esta plataforma se compromete a aceptar y cumplir todo lo previsto en este aviso legal y el conjunto de las disposiciones aplicables. También se compromete a hacer un uso lícito y adecuado de los contenidos y los servicios y a abstenerse de cualquier conducta ilegal o contraria a la buena fe.</p>
      <p>La plataforma decidim.barcelona es gestionada por la Dirección de Investigación, Desarrollo e Innovación de Derechos de Ciudadanía, Participación y Transparencia bajo la dirección del Comisionado de Participación Ciudadana y por la Concejalía de Participación y Distritos del Ayuntamiento de Barcelona, con la colaboración del Instituto Municipal de Informática y de la Dirección de Comunicación del mismo Ayuntamiento.</p>

      <div id="section_1">
        <h3> A. Ámbito de aplicación de estas condiciones de uso </h3>
        <p>Las condiciones de uso para la participación en la plataforma decidim.barcelona vinculan a todas las personas que participen en este sitio web. En el momento de registrarse se le solicitará que acepte estas condiciones.</p>
        <p>El Ayuntamiento de Barcelona se reserva la facultad de modificar las condiciones presentes para la plataforma y publicará en este sitio web la última versión de estas condiciones. Para mantenerse informados de los cambios futuros, le aconsejamos que visite esta página de vez en cuando. Se informará a los usuarios de las modificaciones cuando afecten a la privacidad y/o a la seguridad.</p>
      </div>

      <div id="section_2">
        <h3>B. Objetivo de la iniciativa</h3>
        <p>Mediante la plataforma decidim.barcelona, el Ayuntamiento de Barcelona quiere fomentar la participación ciudadana de manera abierta y transparente e implicar a la ciudadanía y los diferentes agentes sociales en la mejora de la calidad democrática de la vida de la ciudad en su conjunto, en la definición y diseño de políticas públicas y actuaciones municipales, así como en la valoración, información, discusión, priorización y decisión sobre las políticas y actuaciones, de instituciones municipales, públicas así como de iniciativas ciudadanas, asociativas o sociales que así lo deseen. De esta manera se busca afrontar los retos y las dificultades que se plantean en la ciudad, con el objetivo de mejorarla y abrirla al conjunto de la ciudadanía a través de múltiples procesos, espacios, órganos y otras formas de participación ciudadana.</p>
        <p>El Ayuntamiento opta por una democracia participativa, directa y deliberativa visibilizando y fomentando las iniciativas que, tanto de forma individual como colectiva, puedan contribuir a debatir, diseñar y/o valorar acciones municipales y ciudadanas en favor del bien común. La plataforma también tiene como objetivo facilitar y visibilizar los debates, el diseño, la valoración, la negociación y la modificación, el seguimiento, y la evaluación de políticas públicas que puedan realizarse fuera de la plataforma, para poder ofrecer a la ciudadanía la máxima transparencia. En este sentido decidim.barcelona debe poder acoger futuras iniciativas de participación ciudadana y democracia directa, participativa o deliberativa, incluidas (por no exclusivamente) aquellas que promuevan una desintermediació entre el Gobierno municipal y la ciudadanía de Barcelona y aquellas que fomenten y faciliten la cooperación, asociación y la autoorganización entre la propia ciudadanía.</p>
      </div>

      <div id="section_3">
        <h3>C. Aspectos generales de la participación en la plataforma decidim.barcelona</h3>
        <p>Puede participar cualquier persona física mayor de 16 años que se haya registrado previamente en la plataforma decidim.barcelona. Mediante la aceptación de estas condiciones de uso, la persona registrada declara que tiene 16 años o más. Los mayores de edad de los que dependen los menores, son los responsables plenos de la actuación de estos menores en la plataforma decidim.barcelona.</p>
        <p>La plataforma también permite la posibilidad de abrir el registro a entidades, colectivos, grupos y/o organizaciones ciudadanas y actores relevantes de la ciudad.</p>
        <p>Como la plataforma decidim.barcelona es un punto de encuentro que tiene el objetivo de promover la participación ciudadana para la mejora de la ciudad, las personas usuarias están obligadas a hacer un uso diligente y de acuerdo con este objetivo.</p>
        <p>El Ayuntamiento de Barcelona no es responsable del uso incorrecto de la plataforma decidim.barcelona que hagan los usuarios o de los contenidos que estas generen. Cada usuario es responsable de utilizar la plataforma correctamente, así como de la legalidad de los contenidos y de las opiniones que haya compartido.</p>
        <p>El Ayuntamiento de Barcelona se reserva, por tanto, el derecho a limitar el acceso a la plataforma decidim.barcelona de las opiniones, informaciones, comentarios, propuestas o archivos que los usuarios quieran incorporar, y puede instalar filtros al efecto. Todo ello se realizará únicamente con el fin de preservar el objetivo fundamental de la plataforma decidim.barcelona.</p>
        <p>No está permitido añadir ningún contenido ilegal o no autorizado al sitio web. El contenido ilegal o no permitido, aunque no se limita a estas tipologías, incluye información que tenga las siguientes características:</p>
        <ul>
          <li>que sea falsa o engañosa;</li>
          <li>que infrinja cualquier derecho del Ayuntamiento o de cualquier tercera parte, como por ejemplo, el copyright, las marcas registradas u otros derechos de propiedad intelectual e industrial u otros derechos relacionados;</li>
          <li>que atente contra la intimidad de un tercero, como publicar detalles personales de los participantes, como el nombre, la dirección, el número de teléfono, el correo electrónico, fotografías o cualquier otra información de carácter personal;</li>
          <li>que contenga virus, troyanos, robots u otros programas que puedan perjudicar el sitio web o los sistemas del Ayuntamiento o el sitio web o el sistema de cualquier tercera parte, o bien que tengan la intención de eludir las medidas técnicas diseñadas para el correcto funcionamiento de la plataforma;</li>
          <li>que pretenda enviar spam a los usuarios o sobrecargar el sistema;</li>
          <li>que tenga el carácter de cadena de mensajes, juego piramidal o juego de azar;</li>
          <li>que tenga fines comerciales, como publicar ofertas de trabajo o anuncios;</li>
          <li>que no esté conforme con la decencia pública; en consecuencia, el contenido no debe incitar al odio, discriminar, amenazar, provocar, ni tener un sentido o un carácter sexual, violento, grosero, ni ofensivo;</li>
          <li>que infrinja una ley o una regulación aplicable;</li>
          <li>que haga campañas promoviendo el voto masivo para otras propuestas no relacionadas con el proceso y el marco de debate,</li>
          <li>que cree múltiples usuarios simulando ser personas diferentes (astroturfing).</li>
        </ul>
        <p>El Ayuntamiento de Barcelona no ejerce ningún control, ni tiene medios para hacerlo, sobre la calidad, la originalidad, la autenticidad, la legalidad o la seguridad de los contenidos que los usuarios aporten a la plataforma. Sin embargo, el Ayuntamiento de Barcelona se reserva la potestad -a su discreción y sin aviso previo- de suspender temporalmente las actividades de un participante en la plataforma, desactivar su cuenta de la manera que sea, borrar el contenido, eliminar la cuenta o enviar un aviso, en especial, y sin limitarse a ello, en los casos siguientes:</p>
        <ul>
          <li>si se produce una infracción de estas condiciones de uso de la plataforma de participación y</li>
          <li>si el Ayuntamiento cree que la actividad de la persona participante es perjudicial para los demás, para el sitio web o para el Ayuntamiento.</li>
        </ul>
        <p>La persona participante se hace responsable del contenido de sus aportaciones y de los daños o reclamaciones de terceros que se puedan derivar.</p> 
        <p>En ningún caso el Ayuntamiento de Barcelona no será responsable del uso indebido del sitio de la plataforma o de los contenidos que se compartan, ni responderá sobre la utilización que una persona física haga de las ideas aportadas, ni sobre la idoneidad de estas ideas, ni sobre los resultados que se deriven.</p>
        <p>En caso de que el contenido incluya un enlace a otro sitio web, el Ayuntamiento de Barcelona no garantiza ni asume ningún tipo de responsabilidad por los daños y/o perjuicios debidos al acceso a los contenidos de este enlace ni tampoco por el contenido que hay pueda haber en este mismo enlace.</p>
        <p>En caso de que se produzca una disputa de cualquier clase o por cualquier motivo entre los participantes en el sitio web o en un tercero, el Ayuntamiento de Barcelona queda exento de toda responsabilidad por reclamaciones, demandas o daños de la naturaleza que sea que estén relacionados de alguna manera con esta disputa.</p>
      </div>

      <div id="section_4">
        <h3>D. Funcionamiento de la plataforma</h3>
        <p>Los participantes pueden acceder y navegar por la plataforma decidim.barcelona libremente y de forma anónima. Sólo cuando quieran realizar alguna acción que implique la creación, el apoyo o el comentario de una propuesta o la participación en un debate, se pedirá que introduzcan sus credenciales, para lo cual será necesario que se registren previamente. El registro que permitirá participar en la plataforma haciendo comentarios en una sección o creando propuestas debe realizarse introduciendo los datos siguientes: nombre de usuario, correo electrónico, contraseña y aceptación de las condiciones de uso.</p>
        <p>La plataforma permite la posibilidad de dar de alta entidades, colectivos y/o organizaciones, y en este caso, se solicitarán los siguientes datos: nombre de la organización, persona responsable, correo electrónico, teléfono, contraseña y aceptación de las condiciones de uso.</p>
        <p>Para poder apoyar las propuestas, al usuario se le requerirá que verifique su cuenta confirmando que tiene 16 años o más y que está empadronado en Barcelona. Con este fin se pedirán tres datos relativos al padrón (DNI, código postal y fecha de nacimiento) Estos datos serán utilizados con el único objetivo de verificar la cuenta, y no se utilizarán con posterioridad.</p>
        <p>La persona registrada puede interactuar con la plataforma a través de las diferentes funcionalidades habilitadas para cada uno de los procesos de participación (debates, propuestas, encuentros, ...) y por el conjunto de la plataforma.</p>
      </div>

      <div id="section_5">
        <h3>E. Protección de los datos personales</h3>
        <p>Para garantizar el correcto funcionamiento de la plataforma, se recogen datos de carácter personal. Los datos que se piden al interesado son los estrictamente necesarios para la correcta prestación del servicio solicitado (principio de calidad de los datos). De acuerdo con la Ley Orgánica 15/1999, de 13 de diciembre, de protección de datos de carácter personal, le informamos de que sus datos personales se incorporarán al fichero de Participación Ciudadana del Ayuntamiento de Barcelona, con <b>el fin de participar en todos los procesos y mecanismos de participación que tengan lugar en el decidim.barcelona</b>. Sus datos no serán cedidos a terceros. Puede ejercitar los derechos de acceso, rectificación, cancelación y oposición dirigiéndose por escrito al Registro General del Ayuntamiento: plaza de Santiago 1, 08002, Barcelona, indicando claramente en el asunto "Ejercicio de Derecho LOPD".</p>
        </p>
        <p>Para más información, puede consultar el siguiente enlace: <a href="https://seuelectronica.ajuntament.barcelona.cat/ca/proteccio-de-dades">https://seuelectronica.ajuntament.barcelona.cat/ca/proteccio-de-dades</a> </p>
      </div>

      <div id="section_6">
        <h3>F. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</h3>
        <p>Las condiciones presentes regulan los términos aplicables al contenido enviado por los usuarios de esta plataforma mediante el formulario correspondiente (en adelante, el "contenido"). El contenido no incluye aquellos datos de carácter personal (excepto el nombre público del usuario) que son proporcionadas a la hora de realizar el registro y la verificación, sólo incluye el contenido público proporcionado por el usuario (comentarios, propuestas, ...). Estas condiciones se aplican tanto al contenido remitido inicialmente en la plataforma decidim.barcelona como cualquier contenido que se envíe con posterioridad o se manifieste en el Ayuntamiento de Barcelona:</p>
        <ul>
          <li><b>No confidencialidad</b>: Todo el contenido enviado por el usuario al Ayuntamiento de Barcelona debe ser susceptible de ser conocido por el público en general. Por tanto, el Ayuntamiento de Barcelona tratará dicho contenido como información no confidencial.</li>
          <li><b>Procedimiento</b>: En caso que el Ayuntamiento de Barcelona esté interesado en el contenido enviado por el usuario, se pondrá en contacto para solicitarle información adicional. Esta información tendrá el carácter de no confidencial, sin perjuicio que, en caso de que las partes consideren la necesidad de intercambiar información de carácter confidencial, se firme un acuerdo de confidencialidad. El Ayuntamiento de Barcelona se reserva el derecho de no contactar con los usuarios que le hayan remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a "Derechos de propiedad intelectual e industrial". En el supuesto que el Ayuntamiento de Barcelona, a su discreción, decida contactar con determinados usuarios, estos usuarios conocen y aceptan que haciendo esto el Ayuntamiento de Barcelona no adquiere ningún compromiso</li>
          <li><b>Publicidad o difusión de los contenidos presentados</b>: Los participantes en la plataforma decidim.barcelona del Ayuntamiento de Barcelona declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en las webs propiedad del Ayuntamiento de Barcelona, así como a través de otros medios que la organización considere oportunos para dar a conocer esta iniciativa.</li>
          <li><b>No devolución del material</b>: El Ayuntamiento de Barcelona no tiene ninguna obligación de devolver el contenido enviado por los usuarios.</li>
          <li><b>Procedimiento de aviso y de retirada</b>: El Ayuntamiento de Barcelona procesará las peticiones de eliminación o de retirada de contenidos que hayan añadido los participantes que incumplan las condiciones de uso. Asimismo, cualquier persona, con motivos razonados si se incumple el aviso legal y las condiciones de uso presentes, puede solicitar la retirada de contenidos en el Ayuntamiento de Barcelona enviando un correo electrónico a la dirección suport@decidim.barcelona . El Ayuntamiento de Barcelona se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.</li>
        </ul>
      </div>

      <div id="section_7">
        <h3>G. Derechos de autor y otros derechos sobre el sitio web y sus contenidos</h3>
        <p>El Ayuntamiento de Barcelona fomenta las licencias abiertas, las obras derivadas y la reutilización y la modificación de estas obras siempre que se reconozca la autoría original y se mantenga la misma licencia. Por lo tanto, permitirá la reutilización de todas las informaciones y los datos difundidos por medio de esta web, siempre que no se indique lo contrario, y tendrán por defecto una licencia Creative Commons - Reconocimiento - Compartir Igual (CC-BY-SA) con las siguientes condiciones:</p>
        <ul>
          <li><b>Reconocimiento</b>: Debe reconocer adecuadamente la autoría, proporcionar un enlace a la licencia e indicar si se han realizado cambios. Puede hacerlo de cualquier manera razonable, pero no de una manera que sugiera que tiene el apoyo del licenciante o lo recibe por el uso que haga.</li>
          <li><b>Compartir Igual</b>: Si se remezcla, transforma o crea a partir del material, debe difundir sus contribuciones bajo la misma licencia que el original.
          <li><b>No hay restricciones adicionales</b>: No puede aplicar términos legales o medidas tecnológicas que legalmente restrinjan realizar lo que la licencia permite.</li>
        </ul>
        <p>La titularidad de todos los contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos por el derecho de la propiedad industrial e intelectual corresponde a los autores y/o los titulares de dichos contenidos.</p>
        <p>El Ayuntamiento de Barcelona debe respetar todos los derechos de propiedad intelectual o industrial sobre el contenido remitidos por los usuarios, y no asume ninguna responsabilidad, directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pueda derivarse de la publicación, la divulgación y/o la difusión de los contenidos aportados sin el consentimiento preceptivo de sus titulares legítimos.</p>
        <p>Como principio general, los datos personales no se comunicarán a terceros, salvo cuando la comunicación haya sido autorizada por el usuario, o la información sea requerida por la autoridad judicial, el Ministerio Fiscal o la policía judicial, o se dé alguno de los supuestos regulados en el artículo 11 de la Ley orgánica 15/1999, de 13 de diciembre, de protección de datos de carácter personal.</p>
      </div>

    </div>
  </div>
</div>
