<% provide :title do %><%= t('.title') %><% end %>

<div class="page row-full">
  <div class="row">
    <div class="more-information text small-12 medium-8 medium-centered column">
      <h2><%=t '.title' %></h2>
      <ul>
        <li>
          <span>
          <%= link_to asset_url('pla_municipal.pdf') do %>
            <%=t '.download-pam'%>
          <% end %>
          </span>
        </li>
        <% (1..10).to_a.each do |id| %>
          <li>
            <span>
              <%= link_to "https://s3-eu-west-1.amazonaws.com/decidimbcn-production/documents/#{id.to_s.rjust(2, '0')}.pdf" do %>
                <%=t ".download-#{id}" %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
