<% provide :title do %><%= @proposal.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: proposal_url(@proposal, participatory_process_id: @proposal.participatory_process),
            social_title: @proposal.title,
            social_media_image: asset_url('social-media-icon.png'),
            social_description: text_with_links(@proposal.summary) %>
<% end %>


<section class="proposal-show" data-timestamp="<%= @proposal.created_at.to_i %>">
  <div id="<%= dom_id(@proposal) %>" class="row">
    <div class="small-12 medium-12 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("proposals.show.back_link"), :back, class: 'left back' %>

      <% if current_user && @proposal.editable_by?(current_user) %>
        <%= link_to edit_proposal_path(@proposal, participatory_process_id: @proposal.participatory_process), class: 'edit-proposal button success tiny radius right' do %>
          <i class="icon-edit"></i>
          <%= t("proposals.show.edit_proposal_link") %>
        <% end %>
      <% end %>

      <h2>
        <%= link_to proposal_path(@proposal, participatory_process_id: @proposal.participatory_process) do %>
          <%= @proposal.title %>
          <%= proposal_badge(@proposal) %>
        <% end %>
      </h2>

      <% if @proposal.conflictive? %>
        <div class="alert-box alert radius margin-top">
          <strong><%= t("proposals.show.flag") %></strong>
        </div>
      <% end %>

      <div class="proposal-info">
        <% unless @proposal.official? or @proposal.from_meeting? %>
          <%= render '/shared/author_info', resource: @proposal %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <% end %>

        <%= l @proposal.created_at.to_date %>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <span class="js-flag-actions">
          <%= render 'proposals/flag_actions', proposal: @proposal %>
        </span>
      </div>

      <div class="proposal-description">
        <%= text_with_links @proposal.summary %>
      </div>

      <% if @proposal.external_url.present? %>
        <div class="document-link">
          <%= text_with_links @proposal.external_url %>
        </div>
      <% end %>

      <% if feature?(:proposal_video_url) && @proposal.video_url.present? %>
        <div class="video-link">
          <%= text_with_links @proposal.video_url %>
        </div>
      <% end %>

      <%= render "proposals/meta", proposal: @proposal %>
      <% if feature?(:proposal_tags) %>
        <%= render 'shared/tags', taggable: @proposal %>
      <% end %>

      <%= render partial: 'shared/references', locals: { subject: @proposal } %>

      <div class="js-moderator-proposal-actions margin">
        <%= render 'proposals/actions', proposal: @proposal %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 column">
      <%= react_app 'Proposal', proposalId: @proposal.id %>
    </div>
  </div>
</section>
