<div class="row">
  <div class="columns mediumlarge-8">
    <div class="section">
      <%== @step.summary %>
      <%== @step.description %>
    </div>
  </div>
  <div class="columns mediumlarge-4 large-3">
    <% if false %>
      <h2 class="section-heading">Documentos relacionados</h2>
      <div class="card card--list card--list--mini">
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link">
                <h6 class="card--list__heading heading-small">
                  Acta Paral·lel <small>PDF 57Kb</small>
                </h6>
              </a>
            </div>
          </div>
          <div class="card--list__data">
            <%= icon "cloud-download" %>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link">
                <h6 class="card--list__heading heading-small">
                  Informe reunió 18-04-2016 <small>PDF 57Kb</small>
                </h6>
              </a>
            </div>
          </div>
          <div class="card--list__data">
            <%= icon "cloud-download" %>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link">
                <h6 class="card--list__heading heading-small">
                  Informe reunió 18-04-2016 <small>PDF 57Kb</small>
                </h6>
              </a>
            </div>
          </div>
          <div class="card--list__data">
            <%= icon "cloud-download" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
