<h2>
  <%= t("mailers.comment.title") %>
</h2>

<p>
  <%= t("mailers.comment.hi") %> <strong><%= @commentable.author.name %></strong>,
</p>

<p>
  <%= t("mailers.comment.new_comment_by_html", commenter: @comment.author.name) %> <%= link_to @commentable.title, commentable_url(@commentable) %>
</p>

<blockquote>
  <%= text_with_links @comment.body %>
</blockquote>
