<% provide :title do %><%= t('proposals.index.title') %><% end %>

<section role="main">
  <div class="wrap row">
    <div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: 'new-proposal button radius expand' %>
        <div class="sidebar-section proposal-filter-menu collapsed">
          <h2 class="title"><%= t 'proposals.index.filter.title' %> <span class="toggle-menu"></span></h2>
          <div class="sidebar-section-content">
            <%= proposal_filters filter: @filter, tag_cloud: @tag_cloud %>
          </div>
        </div>
      </aside>
    </div>

    <div class="small-12 medium-9 column">
      <%= react_component('Loading') %>
      <div id="proposals" class="proposals-list">
        <%= render "proposals" %>
      </div>
    </div>
  </div>
</section>
