<% provide :title do %><%= @proposal.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: proposal_url(@proposal),
            social_title: @proposal.title,
            social_description: text_with_links(@proposal.summary) %>
<% end %>

<% cache [locale_and_user_status(@proposal), @proposal, @proposal.author, Flag.flagged?(current_user, @proposal), @proposal_votes] do %>

  <section class="proposal-show">
    <div id="<%= dom_id(@proposal) %>" class="row">
      <div class="small-12 medium-9 column">
        <i class="icon-angle-left left"></i>&nbsp;
        <%= link_to t("proposals.show.back_link"), :back, class: 'left back' %>

        <% if current_user && @proposal.editable_by?(current_user) %>
          <%= link_to edit_proposal_path(@proposal), class: 'edit-proposal button success tiny radius right' do %>
            <i class="icon-edit"></i>
            <%= t("proposals.show.edit_proposal_link") %>
          <% end %>
        <% end %>

        <h1><%= @proposal.title %></h1>
        <% if @proposal.conflictive? %>
          <div class="alert-box alert radius margin-top">
            <strong><%= t("proposals.show.flag") %></strong>
          </div>
        <% end %>

        <div class="proposal-info">
          <% unless @proposal.official? %>
            <%= render '/shared/author_info', resource: @proposal %>
          <% end %>

          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= l @proposal.created_at.to_date %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <i class="icon-comments"></i>&nbsp;
          <%= link_to t("proposals.show.comments", count: @proposal.comments_count), "#comments" %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <i class="icon-like"></i>&nbsp;
          <span class="js-comments-count positive"><%= @proposal.comments.positive.count %></span> <%= t('comments.form.alignment.positive') %>
          <i class="icon-unlike"></i>&nbsp;
          <span class="js-comments-count negative"><%= @proposal.comments.negative.count %></span> <%= t('comments.form.alignment.negative') %>
          <span class="js-flag-actions">
            <%= render 'proposals/flag_actions', proposal: @proposal %>
          </span>
        </div>

        <%= text_with_links @proposal.summary %>

        <% if @proposal.external_url.present? %>
          <div class="document-link">
            <%= text_with_links @proposal.external_url %>
          </div>
        <% end %>

        <% if @proposal.video_url.present? %>
          <div class="video-link">
            <%= text_with_links @proposal.video_url %>
          </div>
        <% end %>

        <%= render "proposals/meta", proposal: @proposal %>
        <%= render 'shared/tags', taggable: @proposal %>

        <div class="js-moderator-proposal-actions margin">
          <%= render 'proposals/actions', proposal: @proposal %>
        </div>
      </div>

      <aside class="small-12 medium-3 column">
        <div class="sidebar-divider"></div>
        <h3><%= t("votes.supports") %></h3>
        <div class="text-center">
          <div id="<%= dom_id(@proposal) %>_votes">
           <%= render 'votes',
                      { proposal: @proposal, vote_url: vote_proposal_path(@proposal, value: 'yes') } %>
          </div>
        </div>
        <div class="sidebar-divider"></div>
        <h3><%= t("proposals.show.share") %></h3>
        <%= social_share_button_tag(@proposal.title) %>
      </aside>
    </div>

    <div class="row">
      <div class="small-12 medium-9 column">
        <h2><%= t("proposals.show.meetings_title") %></h2>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
          <% @proposal.meetings.sample(8).each do |meeting| %>
            <li class="meeting">
              <div class="date"><%= l meeting.held_at %></div>
              <div class="title"><%= link_to meeting.title, meeting %></div>
              <div class="support"><%= t("proposals.show.meeting_supports", counter: meeting.supports) %></div>
            </li>
          <% end %>
        </ul>
      </ul>
    </div>
  </section>
<% end %>
<%= render "proposals/comments" %>
