<% content_for :title do %><%= @proposal.title %><% end %>

<% content_for :social_media_meta_tags do %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="bcn_ajuntament" />
  <meta name="twitter:title" content="<%= @proposal.title %>" />
  <meta name="twitter:description" content="<%= @proposal.summary %>" />
  <meta name="twitter:image" content="<%= asset_url("social-media-icon.png") %>" />
  <meta id="ogtitle" property="og:title" content="<%= @proposal.title %>" />
  <meta property="article:publisher" content="https://decidim.barcelona" />
  <meta property="article:author" content="https://www.facebook.com/bcn.cat" />
  <meta property="og:type" content="article" />
  <meta id="ogimage" property="og:image" content="<%= asset_url("social-media-icon.png") %>" />
  <meta property="og:site_name" content="decidim.barcelona" />
  <meta id="ogdescription" property="og:description" content="<%= @proposal.summary %>" />
  <meta property="fb:app_id" content="929041747208547" />
<% end %>

<section class="proposal-show">
  <%= react_app 'Proposal', proposalId: @proposal_id, stepId: params[:step_id] %>
</section>
