<nav class="admin-sidebar">
  <ul id="revision_menu" class="vertical menu">
    <li <%= "class=active" if controller_name == "dashboard" %>>
      <%= link_to t("revision.dashboard.index.title"), revision_root_path %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" %>>
      <%= link_to revision_proposals_path do %>
        <i class="icon-proposals"></i>
        <%= t("revision.menu.proposals") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "action_plan_reports" %>>
      <%= link_to revision_action_plan_reports_path do %>
        <i class="icon-print"></i>
        <%= t("revision.action_plan_reports.index.title") %>
      <% end %>
    </li>
  </ul>
</nav>
