<nav class="admin-sidebar">
  <ul id="revision_menu">
    <li>
      <%= link_to t("revision.dashboard.index.title"), revision_root_path %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" %>>
      <%= link_to revision_proposals_path do %>
        <i class="icon-proposals"></i>
        <%= t("revision.menu.proposals") %>
      <% end %>
    </li>

    <% if can? :manage, ActionPlan %>
      <li <%= "class=active" if controller_name == "actions" %>>
        <%= link_to revision_action_plans_path do %>
          <i class="icon-document"></i>
          <%= t("revision.menu.actions") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
