<%= form_for(@action_plan, url: form_url) do |f| %>
  <%= render 'shared/errors', resource: @action_plan %>

  <div class="row" style="overflow: hidden;">
    <% unless @action_plan.new_record? %>
      <div class="alert-box warning radius margin-top">
        <span><%= t('revision.action_plans.form.warning').html_safe %></span>
      </div>
    <% end %>

    <div class="small-12 column">
      <%= f.label :title, t("action_plans.form.title") %>
      <%= f.text_field :title, label: false, disabled: !@action_plan.new_record? %>
    </div>

    <div class="small-12 column">
      <%= f.label :description, t("action_plans.form.description") %>
      <%= f.rich_editor :description, label: false, disabled: !@action_plan.new_record? %>
    </div>

    <%= render 'shared/forms/district_fields', f: f, i18n_namespace: 'action_plans.form.action_plan' %>

    <div class="small-12 column">
      <%= category_picker(@action_plan) %>
    </div>

    <div class="small-12 column">
      <label><%= t("meetings.form.meeting_proposal_ids")%></label>
      <%= proposals_selector resource_name: "action_plan", proposals: @action_plan.proposals %>
    </div>

    <div class="actions small-12 column">
      <%= hidden_field_tag :participatory_process_id, @participatory_process.slug %>
      <%= f.submit(class: "button radius", value: t("action_plans.#{action_name}.form.submit_button")) %>
    </div>
  </div>
<% end %>
