<%= form_for(@action_plan, url: form_url) do |f| %>
  <%= render 'shared/errors', resource: @action_plan %>

  <div class="row">
    <div class="small-12 column">
      <label><%= t("meetings.form.meeting_proposal_ids")%></label>
      <%= proposals_selector resource_name: "action_plan", proposals: @action_plan.proposals %>
    </div>
    <div class="small-12 column">
      <%= f.label :title, t("action_plans.form.title") %>
      <%= f.text_field :title, label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :description, t("action_plans.form.description") %>
      <%= f.text_area :description, label: false %>
    </div>

    <div class="small-12 column">
      <%= category_picker(@action_plan) %>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button radius", value: t("action_plans.#{action_name}.form.submit_button")) %>
    </div>
  </div>
<% end %>
