<h2><%= t("moderation.action_plans.index.title") %></h2>

<div class="row">
  <div class="right">
    <%= link_to t("action_plans.index.new"), new_moderation_action_plan_path, class: 'button radius expand' %>
  </div>
</div>

<table class="clear">
  <tr>
    <th>
      <%= t("moderation.action_plans.index.headers.action") %>
    </th>
  </tr>
  <% @resources.each do |action| %>
    <tr id="<%= dom_id(action) %>">
      <td>
        <%= link_to action.title, edit_moderation_action_plan_path(action) %>
        <div class="action-description">
          <%= action.description %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @resources %>
