<h1>
  <%= t("devise_views.mailer.unlock_instructions.title") %>
</h1>

<p>
  <%= t("devise_views.mailer.unlock_instructions.hello") %> <strong><%= @resource.email %></strong>
</p>

<p>
  <%= t("devise_views.mailer.unlock_instructions.info_text") %>
</p>

<p>
  <%= t("devise_views.mailer.unlock_instructions.instructions_text") %>
</p>

<p>
  <%= link_to t("devise_views.mailer.unlock_instructions.unlock_link"), unlock_url(@resource, unlock_token: @token) %>
</p>
