<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead"><%== @participatory_process.summary %></div>
        <br />
        <%== @participatory_process.description %>
      </div>
    </div>

    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra definition-data">
        <% %w(scope manager_group areas).each do |item| %>
          <% content = @participatory_process.send(item) %>
          <div class="definition-data__item">
            <span class="definition-data__title"><%= t ".data.#{item}" %></span>
            <%== !content.blank? ? content : "N/A" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-8">
      <div class="section">
        <h4 class="section-heading"><%= t ".steps" %></h4>
        <ol class="timeline">
          <% @participatory_process.steps.each_with_index do |step, index| %>
            <li class="timeline__item">
              <div class="timeline__phase">
                <span class="timeline__phase__number"><%= index + 1 %></span>
              </div>
              <div class="timeline__desc" id="timeline-<%= index %>" data-toggler=".is-expanded">
                <a class="timeline__title" data-toggle="timeline-<%= index %>">
                  <h6><%= step.title %>
                    <svg class="icon icon--caret-bottom icon--small timeline__title__icon" role="img" aria-label="Desplegar" > <%= icon "caret-bottom" %> </svg>
                  </h6>
                </a>
                <div class="timeline__content">
                  <%== step.description %>
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
