<div class="process-header process-header--home row column">
  <div class="row column process-header__main"
        style="background-image:url(<%= @participatory_process.decorate.full_image_url %>);">
    <div class="process-header__container row">
      <div class="columns mediumlarge-9 process-header__info">
        <h1 class="text-highlight heading1">
          <%= link_to participatory_process_path(@participatory_process), class: "info" do %>
            <%= @participatory_process.decorate.title %>
          <% end %>
        </h1>
        <h2 class="text-highlight heading4">
          <% if !@participatory_process.hashtag.blank? %>
            <span class="process-header__hashtag"><%= @participatory_process.hashtag %></span>
          <% end %>
          <%= @participatory_process.decorate.subtitle %>
        </h2>
      </div>
      <% if false %>
        <div class="columns mediumlarge-3 process-header__actions">
          <div>
            <a class="process-header__action" data-toggle="phasesInfo">
              <span class="action-title">Las fases</span>
              <span class="action-icon">
                <svg class="icon icon--clock "   > <use xlink:href="/images/icons.svg#icon-clock" /> </svg>
              </span>
            </a>
          </div>
          <div>
            <a class="process-header__action" data-toggle="processShare">
              <span class="action-title">Compartir</span>
              <span class="action-icon">
                <svg class="icon icon--share "   > <use xlink:href="/images/icons.svg#icon-share" /> </svg>
              </span>
            </a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row process-header--home__cta">
      <% if @participatory_process.active_step %>
        <div class="columns small-centered small-10 medium-6 mediumlarge-4 large-3">
          <%= link_to step_path(@participatory_process, @participatory_process.active_step), class: "button expanded button--sc" do %>
            <%= t ".participate" %>
            <span class="button__info"><%= t ".active_step", name: @participatory_process.active_step.title %></span>
          <% end %>
        </div>
      <% else %>
        <div class="columns small-centered small-10 medium-6 mediumlarge-4 large-3">
          <span class="button disabled expanded button--sc">
            <%= t ".participate" %>
            <span class="button__info"><%= t ".steps_soon" %></span>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead"><%== @participatory_process.decorate.summary %></div>
        <br />
        <%== @participatory_process.decorate.description %>
      </div>
    </div>

    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra definition-data">
        <% %w(scope manager_group areas).each do |item| %>
          <% content = @participatory_process.decorate.send(item) %>
          <div class="definition-data__item">
            <span class="definition-data__title"><%= t ".data.#{item}" %></span>
            <%== !content.blank? ? content : "N/A" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-8">
      <% if @participatory_process.documents.any? %>
        <div class="section">
          <h4 class="section-heading"><%= t ".documents" %></h4>
          <div class="card card--list">
            <% @participatory_process.documents.each do |document| %>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <%= link_to document.url, class: "card__link" do %>
                      <h6 class="card--list__heading heading6">
                        <%= document.name %> <small><%= document.label %> <%= document.file_size %></small>
                      </h6>
                      <span class="text-small"><%= document.description %></span>
                    <% end %>
                  </div>
                </div>
                <div class="card--list__data">
                  <%= link_to document.url, class: "card--list__data__icon" do %>
                    <%= icon "cloud-download" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @participatory_process.decorate.steps.any? %>
        <div class="section">
          <h4 class="section-heading"><%= t ".steps" %></h4>
          <%= render 'participatory_processes/timeline' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
