<h2><%= t("admin.users.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "admin.users.index" %>

<%= render "shared/search_form",
            search_path: admin_users_path(page: 1),
            i18n_namespace: "admin.users.index.search_form" %>

<h3><%= page_entries_info @users %></h3>

<ul class="admin-list">
<% @users.each do |user| %>
  <li id="<%= dom_id(user) %>">
    <div class="name">
      <%= link_to user.name, edit_admin_user_path(user) %>
      <% if user.official_level && user.official_level > 0 %>
        <span class="label success"><%= official_position(user) %></span>
      <% end %>
      <% user.roles.each do |role| %>
        <span class="label"><%= role %></span>
      <% end %>
    </div>

    <%= user.email %>

    <% if user.hidden? %>
      <%= link_to t("admin.actions.restore"),
            restore_admin_user_path(user, request.query_parameters),
            method: :put,
            data: { confirm: t("admin.actions.confirm") },
            class: "button radius tiny success right" %>
    <% end %>
    <% if user.hidden? && !user.confirmed_hide? %>
      <%= link_to t("admin.actions.confirm_hide"),
          confirm_hide_admin_user_path(user, request.query_parameters),
          method: :put,
          class: "button radius tiny warning right" %>
    <% end %>
  </li>
<% end %>
</ul>

<%= paginate @users %>


