<%= form_for(participatory_process, url: form_url) do |f| %>
  <%= render 'shared/errors', resource: participatory_process %>

  <div class="row">
    <div class="small-12 column">
      <%= f.label :name, t("participatory_processes.form.participatory_process_name") %>
      <%= f.text_field :name, placeholder: t("participatory_processes.form.participatory_process_name"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.check_box :featured, placeholder: t("participatory_processes.form.participatory_process_featured"), label: false %>
      <%= f.label :featured, t("participatory_processes.form.participatory_process_featured") %>
    </div>

    <div class="small-12 column">
      <%= f.label :hashtag, "Hashtag" %>
      <%= f.text_field :hashtag %>
    </div>

    <div class="small-12 column">
      <%= f.label :full_image %>
      <%= f.file_field :full_image, label: false %>
      <% if participatory_process.full_image.present? %>
        <p>Preview</p>
        <%= image_tag participatory_process.full_image.thumb.url, class: 'full-image-preview' %>
      <% end %>
    </div>

    <div class="small-12 column">
      <%= f.label :banner_image %>
      <%= f.file_field :banner_image, label: false %>
      <% if participatory_process.banner_image.present? %>
        <p>Preview</p>
        <%= image_tag participatory_process.banner_image.thumb.url, class: 'banner-image-preview' %>
      <% end %>
    </div>

    <% unless participatory_process.new_record? %>
      <div class="small-12 column">
        <%= f.label :slug, t("participatory_processes.form.participatory_process_slug") %>
        <%= f.text_field :slug, placeholder: t("participatory_processes.form.participatory_process_slug"), label: false %>
      </div>
    <% end %>

    <div class="small-12 column">
      <%= f.label :admin_name, t("participatory_processes.form.participatory_process_admin_name") %>
      <%= f.text_field :admin_name, placeholder: t("participatory_processes.form.participatory_process_admin_name"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :admin_email, t("participatory_processes.form.participatory_process_admin_email") %>
      <%= f.text_field :admin_email, placeholder: t("participatory_processes.form.participatory_process_admin_email"), label: false %>
    </div>

     <%= render 'shared/forms/district_fields', f: f, i18n_namespace: 'participatory_processes.form.participatory_process' %>

    <% I18n.available_locales.map(&:to_s).each do |locale| %>
      <fieldset>
        <legend><%= I18n.t "locale", locale: locale %></legend>
        <div class="small-12 column">
          <%= label_tag "title_#{locale}", t("participatory_processes.form.participatory_process_title") %>
          <%= text_field_tag "#{resource_name}[title][#{locale}]", participatory_process.title && participatory_process.title[locale], id: "participatory_process_title_#{locale}", placeholder: t("participatory_processes.form.participatory_process_title"), label: false %>
        </div>

        <div class="small-12 column">
          <%= label_tag "subtitle_#{locale}", t("participatory_processes.form.participatory_process_subtitle") %>
          <%= text_field_tag "#{resource_name}[subtitle][#{locale}]", participatory_process.subtitle && participatory_process.subtitle[locale], id: "participatory_process_subtitle_#{locale}", placeholder: t("participatory_processes.form.participatory_process_subtitle"), label: false %>
        </div>

        <div class="small-12 column">
          <%= label_tag "summary_#{locale}", t("participatory_processes.form.participatory_process_summary") %>
          <%= rich_editor_tag "#{resource_name}[summary][#{locale}]", participatory_process.summary && participatory_process.summary[locale], maxlength: 10 %>
        </div>

        <div class="small-12 column">
          <%= label_tag "description_#{locale}", t("participatory_processes.form.participatory_process_description") %>
          <%= rich_editor_tag "#{resource_name}[description][#{locale}]", participatory_process.description && participatory_process.description[locale], maxlength: 10 %>
        </div>
      </fieldset>
    <% end %>

    <div class="small-12 column">
      <%= f.label :manager_group, t("participatory_processes.form.participatory_process_manager_group") %>
      <%= f.text_field :manager_group, placeholder: t("participatory_processes.form.participatory_process_manager_group"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :areas, t("participatory_processes.form.participatory_process_areas") %>
      <%= f.text_field :areas, placeholder: t("participatory_processes.form.participatory_process_areas"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :audience, t("participatory_processes.form.participatory_process_audience") %>
      <%= f.text_field :audience, placeholder: t("participatory_processes.form.participatory_process_audience"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :citizenship_scope, t("participatory_processes.form.participatory_process_citizenship_scope") %>
      <%= f.text_field :citizenship_scope, placeholder: t("participatory_processes.form.participatory_process_citizenship_scope"), label: false %>
    </div>
    
    <div class="small-12 column">
      <%= f.label :participatory_structure, t("participatory_processes.form.participatory_process_participatory_structure") %>
      <%= f.text_field :participatory_structure, placeholder: t("participatory_processes.form.participatory_process_participatory_structure"), label: false %>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button radius", value: t("#{resource_name.pluralize}.#{action_name}.form.submit_button")) %>
      </div>
  </div>
<% end %>
