<h2><%= t("moderation.meetings.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "moderation.meetings.index" %>

<div class="row">
  <div class="small-6 column">
    <%= render "shared/search_form",
               search_path: moderation_meetings_path(page: 1),
               i18n_namespace: "moderation.meetings.index.search_form" %>
  </div>
  <div class="small-2 column">
    <%= select_tag "participatory_process_id", options_from_collection_for_select(@participatory_processes, "id", "name"), id: "participatory_process_top", class: "participatory_process_selector" %>
  </div>
  <div class="small-4 column">
    <%= link_to t("meetings.index.new"), new_moderation_meeting_path(participatory_process_id: @participatory_processes[0].id), class: 'button radius expand new_meeting_button' %>
  </div>
</div>

<%= link_to t(".download_xls"), moderation_meetings_url(format: 'xls', filter: @current_filter, search: @search), class: 'button right tiny' %>

<table class="clear">
  <tr>
    <th>
      <%= t("moderation.meetings.index.headers.meeting") %>
    </th>
  </tr>
  <% @meetings.each do |meeting| %>
    <tr id="meeting<%= meeting.id %>">
      <td>
        <%= link_to meeting.title, edit_moderation_meeting_path(meeting) %>
        <br>
        <span class="date"><%= l meeting.held_at %></span>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <% if meeting.start_at.present? && meeting.end_at.present? %>
          <span class="date"><%= l(meeting.start_at) %> - <%= l(meeting.end_at) %></span>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <% end %>

        <%= meeting.author.username %>
        <div class="right">
          <%= link_to t("meetings.index.edit"), edit_moderation_meeting_path(meeting), class: 'button radius tiny secondary' %>
          <%= link_to t(".pictures"), moderation_meeting_pictures_path(meeting), class: 'button radius tiny secondary' %>
          <%= link_to t("meetings.index.close"), new_moderation_meeting_close_path(meeting), class: 'button radius tiny secondary' %>
          <%= link_to t('meetings.index.delete'), moderation_meeting_path(meeting), method: :delete,  class: "button tiny radius alert", data: { confirm: t('admin.actions.confirm') } %>
        </div>
        <br>
        <div>
          <%= meeting.description %>
        </div>
        <%= render "shared/tags", taggable: meeting, limit: 5 %>
      </td>
    </tr>
  <% end %>
</table>

<div class="row">
  <div class="small-2 small-offset-6 column">
    <%= select_tag "participatory_process_id", options_from_collection_for_select(@participatory_processes, "id", "name"), id: "participatory_process_bottom", class: "participatory_process_selector" %>
  </div>
  <div class="small-4 column">
    <%= link_to t("meetings.index.new"), new_moderation_meeting_path(participatory_process_id: @participatory_processes[0].id), class: 'button radius expand new_meeting_button' %>
  </div>
</div>

<%= paginate @meetings %>
