<header id="header">
  <div class="top-menu">
    <div class="row">
      <div class="small-12 medium-12 columns locale-switcher">
        <%= render "shared/locale_switcher" %>
      </div>

      <%= link_to 'ajuntament.barcelona.cat', "https://ajuntament.barcelona.cat", class: 'badge-ajuntament' %>
    </div>
  </div>

  <div class="header-wrapper">
    <%= render 'layouts/session_menu' %>

    <% if content_for?(:header) %>
      <%= yield(:header) %>
    <% else %>
      <div class="header row">
        <div class="small-12 large-12 columns">
          <%= render 'layouts/title' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="main-menu-wrapper">
    <%= render partial: 'layouts/main_menu' %>
  </div>

  <% if content_for?(:header_addon) %>
    <div class="row">
      <section class="small-12 medium-4 medium-offset-8 large-3 large-offset-9 columns">
        <%= yield :header_addon %>
      </section>
    </div>
  <% end %>
</header>
