<div class="row menu-outer">
  <nav class="main-menu collapsed small-12 columns">
    <span class="toggle-menu">
      <%= fa_icon "bars" %> <%= t 'menu.mobile-menu' %>
    </span>

    <div class="menu-items">
      <%= link_to root_path, class: "#{'active' if home_page?} home" do %>
        <%= fa_icon 'home' %>
      <% end %>

      <%= link_to t("layouts.header.participatory_processes"), participatory_processes_path, class: ("active" if  controller_name == "participatory_processes"), data: {'no-turbolink' => true}  %>
    </div>
  </nav>
</div>
