<div class="row menu-outer">
  <nav class="main-menu collapsed small-12 columns">
    <span class="toggle-menu">
      <%= fa_icon "bars" %> <%= t 'menu.mobile-menu' %>
    </span>

    <div class="menu-items">
      <% if @participatory_process.has_proposals? %>
        <%= link_to t("layouts.header.proposals"), proposals_path(participatory_process_id: @participatory_process), class: ("active" if  controller_name == "proposals"), data: {'no-turbolink' => true}  %>
      <% end %>

      <% if @participatory_process.has_action_plans? %>
        <% if can? :read, ActionPlan %>
          <%= link_to t("layouts.header.action_plans"), action_plans_path(participatory_process_id: @participatory_process), class: ("active" if  controller_name == "action_plans"), data: {'no-turbolink' => true} %>
        <% end %>
      <% end %>

      <% if @participatory_process.has_meetings? %>
        <%= link_to t("layouts.header.meetings"), meetings_path(participatory_process_id: @participatory_process), class: ("active" if controller_name == 'meetings'), data: {'no-turbolink' => true} %>
      <% end %>

      <% if @participatory_process.has_debates? %>
        <%= link_to t("layouts.header.debates"), debates_path(participatory_process_id: @participatory_process), class: ("active" if controller_name == "debates"), data: {'no-turbolink' => true} %>
      <% end %>

      <% if feature?(:spending_proposals) %>
        <%= link_to t("layouts.header.spending_proposals"), spending_proposals_path(participatory_process_id: @participatory_process), class: ("active" if controller_name == "spending_proposals") %>
      <% end %>

      <%= link_to t("categories.title"), categories_path(participatory_process_id: @participatory_process), class: ("active" if controller_name == "categories") %>

      <%= link_to t("layouts.header.more_information"), page_path(id: 'more_information', participatory_process_id: @participatory_process), class: ("active" if false)  %>
      
      <%= link_to t("dataviz.title"), dataviz_index_path(participatory_process_id: @participatory_process), class: ("active" if controller_name == "dataviz")  %>
    </div>
  </nav>
</div>
