<div class="row menu-outer">
  <nav class="main-menu collapsed small-12 columns">
    <span class="toggle-menu">
      <%= fa_icon "bars" %> <%= t 'menu.mobile-menu' %>
    </span>

    <div class="menu-items">
      <%= link_to root_path, class: "#{'active' if home_page?} home" do %>
        <%= fa_icon 'home' %>
      <% end %>

      <%= link_to t("layouts.header.proposals"), proposals_path, class: ("active" if  controller_name == "proposals") %>
      <% if can? :read, ActionPlan %>
        <%= link_to t("layouts.header.action_plans"), action_plans_path, class: ("active" if  controller_name == "action_plans") %>
      <% end %>
      <%= link_to t("layouts.header.meetings"), meetings_path, class: ("active" if current_page?(controller: "/meetings")) %>
      <% if feature?(:debates) %>
        <%= link_to t("layouts.header.debates"), debates_path, class: ("active" if controller_name == "debates") %>
      <% end %>
      <% if feature?(:spending_proposals) %>
        <%= link_to t("layouts.header.spending_proposals"), spending_proposals_path, class: ("active" if controller_name == "spending_proposals") %>
      <% end %>
      <%= link_to t("categories.title"), categories_path, class: ("active" if current_page?("/categories"))  %>
      <%= link_to t("layouts.header.more_information"), page_path('more_information'), class: ("active" if current_page?("/more_information"))  %>
      <%= link_to t("dataviz.title"), dataviz_index_path, class: ("active" if controller_name == "dataviz")  %>
      <% if Setting['blog_url'] %>
        <%= link_to Setting['blog_url'][I18n.locale.to_s], target: "_blank" do %>
          <%= t("layouts.header.external_link_blog") %>
          <i class="icon-external"></i>
        <% end %>
      <% end %>
    </div>
  </nav>
</div>
