<!-- Topbar -->
<a target="_blank" href="http://ajuntament.barcelona.cat/"
   class="logo-cityhall">
  <%= image_tag "badge-ajuntament-header.svg", alt: "Ajuntament de Barcelona" %>
</a>
<div class="topbar title-bar">
  <div class="row">
    <div class="columns small-12 medium-4 topbar__dropmenu">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="is-dropdown-submenu-parent">
          <%= link_to I18n.t("locale", locale: I18n.locale), current_path_with_query_params(locale: I18n.locale) %>
          <% I18n.available_locales.reject{ |l| l == I18n.locale }.map do |loc| %>
            <ul class="menu is-dropdown-submenu">
              <%= link_to I18n.t("locale", locale: loc), current_path_with_query_params(locale: loc) %>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="columns small-6 medium-4 logo-wrapper">
      <a href="">
        <span>
          Decidim<br>
          Barcelona
        </span>
      </a>
    </div>
    <div class="columns small-6 medium-4">
      <div class="hide-for-medium topbar__menu">
        <button type="button" data-toggle="offCanvas">
          <svg class="icon" aria-label="Navegación" role="img">
            <use xlink:href="#icon-menu"></use>
          </svg>
        </button>
      </div>
      <% if current_user %>
        <div class="topbar__dropmenu topbar__user__logged">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="is-dropdown-submenu-parent show-for-medium">
                <a href="#">
                  <span class="author author--inline">
                    <span class="author__name">
                      <span class="author__avatar">
                        <%= image_tag "avatar.png" %>
                      </span>
                      <%= current_user.name %>
                    </span>
                  </span>
                </a>
              <ul class="menu is-dropdown-submenu js-append usermenu-off-canvas">
                <%= render "devise/menu/logged_in_items" %>
              </ul>
              <span data-set="nav-login-holder" class="show-for-medium">
                <!-- Repeated due to dropdown limitations -->
                <ul class="menu is-dropdown-submenu js-append usermenu-off-canvas">
                  <%= render "devise/menu/logged_in_items" %>
                </ul>
              </span>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="topbar__user show-for-medium" data-set="nav-login-holder">
            <div class="topbar__user__login js-append">
              <%= render "devise/menu/logged_out_items" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
