<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= content_for?(:title) ? yield(:title) : Setting["org_name"] %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= render partial: 'layouts/i18n' %>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/scripts' %>
  </head>

  <body class="auth-page">
    <%= render 'layouts/session_menu' %>
    <%= cookies_warning %>
    <div class="wrapper">
      <div class="row">
        <div class="small-12 medium-8 large-5 column small-centered margin-top">
          <%= render 'layouts/title' %>
        </div>
      </div>

      <div class="row auth">
        <div class="small-12 medium-8 large-5 column small-centered">
          <div class="panel">
            <% if notice %>
              <div data-alert class="alert-box radius success">
                <a href="#" class="close" title="<%= t("application.close") %>">&times;</a>
                  <%= notice %>
              </div>
            <% end %>

            <% if alert %>
              <div data-alert class="alert-box radius warning">
                <a href="#" class="close" title="<%= t("application.close") %>">&times;</a>
                  <%= alert %>
              </div>
            <% end %>

            <%= yield %>

          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
