<% content_for :body do %>
  <main class="wrapper">
    <div class="process-header row column">
      <div class="row column process-header__main"
          style="background-image:url(/images/barcelona-hero.jpg);">
        <div class="process-header__container row">
          <div class="columns mediumlarge-9 process-header__info">
            <div>
              <h1 class="text-highlight heading2">
                <%= link_to participatory_processes_path(@participatory_process), class: "info" do %>
                  <%= @participatory_process.name %>
                <% end %>
              </h1>
            </div>
            <div>
              <h2 class="text-highlight heading-small">
                <span class="process-header__hashtag">#urbaGracia</span>
                <%= @participatory_process.subtitle %>
              </h2>
            </div>
          </div>
          <div class="columns mediumlarge-3 process-header__actions">
            <div>
              <a href="info" class="process-header__action">
                <span class="action-title">El proceso</span>
                <span class="action-icon">
                  <svg class="icon">
                    <use xlink:href="#icon-info" />
                  </svg>
                </span>
              </a>
            </div>
            <div>
              <a class="process-header__action" data-toggle="phasesInfo">
                <span class="action-title">Las fases</span>
                <span class="action-icon">
                  <svg class="icon">
                    <use xlink:href="#icon-clock" />
                  </svg>
                </span>
              </a>
            </div>
            <div>
              <a class="process-header__action" data-toggle="processShare">
                <span class="action-title">Compartir</span>
                <span class="action-icon">
                  <svg class="icon">
                    <use xlink:href="#icon-share" />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <% if false %>
        <div class="row collapse process-header__nav">
          <div class="columns phase-nav">
            <button class="prev">
              <svg class="icon">
                <use xlink:href="#icon-chevron-left" />
              </svg>
            </button>
            <div class="phase-nav__wrapper" data-carousel>
              <a href="/phase1_info" class="phase-nav__item
                                            is-active">
                <div class="phase-nav__number">
                  <span>1</span>
                </div>
                <div class="phase-nav__info">
                  <span class="phase-nav__title">Comunicación</span>
                  <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
                </div>
              </a>

              <a href="/phase2_debates" class="phase-nav__item
                                              ">
                <div class="phase-nav__number">
                  <span>2</span>
                </div>
                <div class="phase-nav__info">
                  <span class="phase-nav__title">Diagnóstico</span>
                  <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
                </div>
              </a>

              <a href="/phase3_proposals" class="phase-nav__item
                                                ">
                <div class="phase-nav__number">
                  <span>3</span>
                </div>
                <div class="phase-nav__info">
                  <span class="phase-nav__title">Aportaciones</span>
                  <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
                </div>
              </a>

              <a href="/phase4_proposals" class="phase-nav__item
                                                ">
                <div class="phase-nav__number">
                  <span>4</span>
                </div>
                <div class="phase-nav__info">
                  <span class="phase-nav__title">Decisión</span>
                  <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
                </div>
              </a>

              <a href="/phase5_results" class="phase-nav__item
                                              ">
                <div class="phase-nav__number">
                  <span>5</span>
                </div>
                <div class="phase-nav__info">
                  <span class="phase-nav__title">Resultados</span>
                  <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
                </div>
              </a>

              <a href="" class="phase-nav__item is-inactive">
                <div class="phase-nav__number">
                  <span>6</span>
                </div>
                <div class="phase-nav__info">
                  <span class="phase-nav__title">Evaluación</span>
                  <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
                </div>
              </a>
            </div>

            <button class="next">
              <svg class="icon">
                <use xlink:href="#icon-chevron-right" />
              </svg>
            </button>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row column">
        <div class="process-nav">
          <button class="process-nav__trigger hide-for-medium"
                  data-toggle="process-nav-content">
            <svg class="icon icon--small process-nav__trigger__icon" aria-label="Desplegar" role="img">
              <use xlink:href="#icon-caret-bottom"></use>
            </svg>
            <div class="process-nav__link">
              <svg>
                <use xlink:href="#shape-icon-info" />
              </svg>
              <span>Informació</span>
            </div>
          </button>
          <div class="row column process-nav__content" id="process-nav-content"
              data-toggler=".is-active">
            <ul>
              <%= render partial: "participatory_processes/menu_item", locals: { path: proposals_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.proposals") } %>
              <%= render partial: "participatory_processes/menu_item", locals: { path: action_plans_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.action_plans") } %>
              <%= render partial: "participatory_processes/menu_item", locals: { path: meetings_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.meetings") } %>
              <%= render partial: "participatory_processes/menu_item", locals: { path: debates_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.debates") } %>
              <%= render partial: "participatory_processes/menu_item", locals: { path: categories_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.categories") } %>
              <%= render partial: "participatory_processes/menu_item", locals: { path: page_path(participatory_process_id: @participatory_process.slug, id: 'more_information'), title: t("layouts.header.more_information") } %>
              <%= render partial: "participatory_processes/menu_item", locals: { path: dataviz_index_path(participatory_process_id: @participatory_process.slug), title: t("dataviz.title") } %>
              <li class="about-link ">
                <a href="/phase1_about" class="process-nav__link
                                              ">
                  <span>Ayuda</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="reveal large" id="phasesInfo" data-reveal>
      <div class="reveal__header">
        <h3 class="reveal__title">Fases del projecte:</h3>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="columns large-9 large-centered">
          <ol class="timeline">
            <li class="timeline__item">
              <div class="timeline__phase">
                <span class="timeline__phase__number">1</span>
              </div>
              <div class="timeline__desc" id="timeline-info" data-toggler=".is-expanded">
                <a class="timeline__title" data-toggle="timeline-info">
                  <h6>Información
                    <svg class="icon icon--small timeline__title__icon"
                        aria-label="Desplegar" role="img">
                      <use xlink:href="#icon-caret-bottom"></use>
                    </svg>
                  </h6>
                </a>
                <div class="timeline__content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
                  </p>
                </div>
              </div>
            </li>

            <li class="timeline__item">
              <div class="timeline__phase">
                <span class="timeline__phase__number">2</span>
              </div>
              <div class="timeline__desc" id="timeline-refl" data-toggler=".is-expanded">
                <a class="timeline__title" data-toggle="timeline-refl">
                  <h6>Reflexión
                    <svg class="icon icon--small timeline__title__icon"
                        aria-label="Desplegar" role="img">
                      <use xlink:href="#icon-caret-bottom"></use>
                    </svg>
                  </h6>
                </a>
                <div class="timeline__content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
                  </p>
                </div>
              </div>
            </li>

            <li class="timeline__item timeline__item--current">
              <div class="timeline__phase">
                <span class="timeline__phase__number">3</span>
              </div>
              <div class="timeline__desc is-expanded" id="timeline-prop" data-toggler=".is-expanded">
                <a class="timeline__title" data-toggle="timeline-prop">
                  <h6>Propuestas
                    <svg class="icon icon--small timeline__title__icon"
                        aria-label="Desplegar" role="img">
                      <use xlink:href="#icon-caret-bottom"></use>
                    </svg>
                  </h6>
                </a>
                <div class="timeline__content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline__item timeline__item--inactive">
              <div class="timeline__phase">
                <span class="timeline__phase__number">4</span>
              </div>
              <div class="timeline__desc" id="timeline-conc" data-toggler=".is-expanded">
                <a class="timeline__title" data-toggle="timeline-conc">
                  <h6>Concreción
                    <svg class="icon icon--small timeline__title__icon"
                        aria-label="Desplegar" role="img">
                      <use xlink:href="#icon-caret-bottom"></use>
                    </svg>
                  </h6>
                </a>
                <div class="timeline__content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline__item timeline__item--inactive">
              <div class="timeline__phase">
                <span class="timeline__phase__number">5</span>
              </div>
              <div class="timeline__desc" id="timeline-return" data-toggler=".is-expanded">
                <a class="timeline__title" data-toggle="timeline-return">
                  <h6>Retorno
                    <svg class="icon icon--small timeline__title__icon"
                        aria-label="Desplegar" role="img">
                      <use xlink:href="#icon-caret-bottom"></use>
                    </svg>
                  </h6>
                </a>
                <div class="timeline__content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline__item timeline__item--inactive">
              <div class="timeline__phase">
                <span class="timeline__phase__number">6</span>
              </div>
              <div class="timeline__desc" id="timeline-follow" data-toggler=".is-expanded">
                <a class="timeline__title" data-toggle="timeline-follow">
                  <h6>Seguimiento
                    <svg class="icon icon--small timeline__title__icon"
                        aria-label="Desplegar" role="img">
                      <use xlink:href="#icon-caret-bottom"></use>
                    </svg>
                  </h6>
                </a>
                <div class="timeline__content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="reveal" id="processShare" data-reveal>
      <div class="reveal__header">
        <h3 class="reveal__title">Compartir:</h3>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="callout warning">
        <h3>Pendiente revisar contenido.</h3>
      </div>
    </div>

    <%= yield %>
  </main>
<% end %>

<%= render partial: 'layouts/application' %>
