<% content_for :body do %>
  <div class="row column">
    <%= display_flash_messages %>
  </div>

  <main class="wrapper">
    <div class="process-header row column">
      <div class="row column process-header__main"
          style="background-image:url(<%= @participatory_process.decorate.full_image_url %>);">
        <div class="process-header__container row">
          <div class="columns mediumlarge-9 process-header__info">
            <div>
              <h1 class="text-highlight heading2">
                <%= link_to participatory_process_path(@participatory_process), class: "info" do %>
                  <%= @participatory_process.decorate.title %>
                <% end %>
              </h1>
            </div>
            <div>
              <h2 class="text-highlight heading-small">
                <% if @participatory_process.decorate.hashtag %>
                  <span class="process-header__hashtag"><%= @participatory_process.decorate.hashtag %></span>
                <% end %>
                <%= @participatory_process.decorate.subtitle %>
              </h2>
            </div>
          </div>
          <div class="columns mediumlarge-3 process-header__actions">
            <div>
              <%= link_to participatory_process_path(@participatory_process), class: "process-header__action" do %>
                <span class="action-title"><%= t('layouts.participatory_process.process_title') %></span>
                <span class="action-icon">
                  <%= icon "info" %>
                </span>
              <% end %>
            </div>
            <div>
              <a class="process-header__action" data-toggle="phasesInfo">
                <span class="action-title"><%= t('layouts.participatory_process.steps_title') %></span>
                <span class="action-icon">
                  <%= icon "clock" %>
                </span>
              </a>
              <div class="reveal large" id="phasesInfo" data-reveal>
                <div class="reveal__header">
                  <h3 class="reveal__title"><%= t "participatory_processes.show.steps" %></h3>
                  <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="row">
                  <div class="columns large-9 large-centered">
                    <%= render 'participatory_processes/timeline' %>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <%= share_component_for(@participatory_process.decorate, 
                                      text: t('layouts.participatory_process.share_title'),
                                      class_name: "process-header__action",
                                      modal_id: "process_share") %>
            </div>
          </div>
        </div>
        <div class="row collapse process-header__nav">
          <div class="columns phase-nav">
            <button class="prev">
              <%= icon "chevron-left" %>
            </button>
            <div class="phase-nav__wrapper" data-carousel>
              <% @participatory_process.steps.order(:position).decorate.each_with_index do |step, index| %>
                <% if step.enabled? %>
                  <%= link_to step_path(participatory_process_id: @participatory_process, step_id: step), class: "phase-nav__item #{(step == participatory_process_step) ? 'is-active' : nil}" do %>
                    <%= render partial: "participatory_processes/step_navigation_item", locals: { step: step, index: (index + 1) } %>
                  <% end %>
                <% else %>
                  <span class="phase-nav__item is-inactive">
                    <%= render partial: "participatory_processes/step_navigation_item", locals: { step: step, index: (index + 1) } %>
                  </span>
                <% end %>
              <% end %>
            </div>

            <button class="next">
              <%= icon "chevron-right" %>
            </button>
          </div>
        </div>
      </div>
      <% if participatory_process_step %>
        <div class="row column">
          <div class="process-nav">
            <%= render partial: "layouts/active_page_button" %>
            <div class="row column process-nav__content" id="process-nav-content"
                data-toggler=".is-active">
              <ul>
                <%= render partial: "participatory_processes/menu_item", locals: { path: url_for(controller: :steps, action: :show), title: t("layouts.header.more_information"), icon: "information" } %>
                <% if participatory_process_step.feature_enabled? :proposals %>
                  <%= render partial: "participatory_processes/menu_item", locals: { path: url_for(controller: :proposals), title: t("layouts.header.proposals"), icon: "proposals" } %>
                <% end %>
                <% if participatory_process_step.feature_enabled? :action_plans %>
                  <%= render partial: "participatory_processes/menu_item", locals: { path: action_plans_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.action_plans"), icon: "proposals" } %>
                <% end %>
                <% if participatory_process_step.feature_enabled? :meetings %>
                  <%= render partial: "participatory_processes/menu_item", locals: { path: meetings_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.meetings"), icon: "meetings" } %>
                <% end %>
                <% if participatory_process_step.feature_enabled? :debates %>
                  <%= render partial: "participatory_processes/menu_item", locals: { path: debates_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.debates"), icon: "debates" } %>
                <% end %>
                <% if participatory_process_step.feature_enabled? :dataviz %>
                  <%= render partial: "participatory_processes/menu_item", locals: { path: dataviz_index_path(participatory_process_id: @participatory_process.slug), title: t("dataviz.title"), icon: "information" } %>
                <% end %>
                <% if participatory_process_step.feature_enabled? :categories %>
                  <%= render partial: "participatory_processes/menu_item", locals: { path: categories_path(participatory_process_id: @participatory_process.slug), title: t("layouts.header.categories"), icon: "information" } %>
                <% end %>
                <% if participatory_process_step.feature_enabled? :more_information %>
                  <li class="about-link ">
                    <%= link_to url_for(controller: :pages, id: 'more_information', action: :show), class: "process-nav__link" do %>
                      <span><%= t '.help' %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </main>
<% end %>

<%= render partial: 'layouts/application' %>
